<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Self-evaluation - Methodology | Scrum Platform{% endblock %}
{% block color %}metodologia{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Methodolgy{% endblock %}
{% block subtitle %}Self-evaluation{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-auto-main">
  <div class="default-textbox met-auto-textbox">
    <p class="default-para met-auto-para">
      The essence of Scrum teams is their ability to be <strong>self-managing.</strong> 
    </p>

    <p class="default-para met-auto-para">
      This skill allows them to abstract themselves from the situations and scenarios in which they find themselves so that they can  <strong>analyze the process from a critical point of view.</strong> 
    </p>
    

    <p class="default-para met-auto-para">
      This is a fundamental stage of production, because after long hours of development, in which the developers are absorbed in their creativity and ideas, the moments of alignment of vision will be important to <strong>ensure that the project maintains the identity and objectives that have been established.</strong>
    </p>

    <p class="default-para met-auto-para"> 
      Therefore, when the Sprint's closing date arrives, the team will hold its <a href="/en/glossario#gloss-sprint-rev" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Sprint Review">Sprint Review</a>, in which <strong>everything that has been developed during this period will be presented to everyone involved in the project</strong>. At this point, the team will be able to receive external feedback on the development of the work, from which they can direct their future resolutions.
    </p>

    <div class="met-auto-img-box">
      <img src="../static/images/autoavaliacao_meeting.jpg" alt="Reunião de autoavaliação" class="met-auto-img" />
    </div>

    <!--Conteúdo Extra--> 
    <p class="default-para met-auto-para">
      The ideal stage for the team to take stock of its own performance is the <a href="/en/glossario#gloss-sprint-ret" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossário: Sprint Retrospective">Sprint Retrospective</a> period. Here, the team will have a meeting to get an overview of how the project is going. 
    </p>
    
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Putting the house in order
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card default-card-body met-auto-card-body">
        <div class="default-collapse-text met-auto-collapse-text">
          <h5>Putting the house in order</h5>
          <p>
            In this process of 'washing dirty clothes', it's important that the individuals not only highlight the negative points, but also the positive points of the group and individual highlights. 
          </p>
          <div class="default-collapse-image-block met-auto-collapse-image-block">
            <img src="../static/images/washing_machine.gif" alt="Lavando Roupa" class="default-collapse-image met-auto-collapse-image">
          </div>
          <p>
            Moreover, this is the right time to express ideas and opinions.
          </p>
        </div>
       
      </div>
    </div>

    <p class="default-para met-auto-para">
      This is the moment when each team member can evaluate their colleagues' <strong>performance and receive feedback on how they have collaborated on the project.</strong>
    </p>

    <!--Conteúdo Extra--> 
    <p class="default-para met-auto-para">
      Some individual points that can be taken into account are <strong>delivery of results, autonomy, cooperation, proactivity</strong>, among others.
    </p>

    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary met-pil-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Self-assessment table example
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Self-assessment table example</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            This is an example of a table that you can update to get an overview of how your team performed. The tables show what went well and what didn't go well in the sprint, whether these are general or individual issues. In the lower ones, you'll share the ideas that came up and see who stood out in the group.
          </p> 
          <img src="../static/images/restrospectiva.png" alt="Quadro de autoavaliação" class="met-auto-img-modal">
          <p>
            As the aim of the evaluation is to create, evolve and not regress, it is best to fill in this box anonymously so that the comments can be impersonal.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Proceed</button>
        </div>
      </div>
    </div>
  </div>

    <p class="default-para met-auto-para">
      Given the importance of this step in the process, here are a few tips and recommendations on how to self-assess your individual performance and that of the team:
    </p>
  </div>

  <div class="met-auto-tips-block">

    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item met-auto-tips-button" role="presentation">
        <button class="nav-link met-auto-tips-button-text active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Establish the project vision at KICK-OFF</button>
      </li>
      <li class="nav-item met-auto-tips-button" role="presentation">
        <button class="nav-link met-auto-tips-button-text" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Give opinions and ideas</button>
      </li>
      <li class="nav-item met-auto-tips-button" role="presentation">
        <button class="nav-link met-auto-tips-button-text" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Adapt yourself</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

        <div class="default-image-block met-auto-tab-img-box">
          <img src="../static/images/building.gif" alt="building construction" class="met-auto-tab-img">
          <p class="default-para met-auto-para">
            If we associate the product being developed with a building under construction, the Kick Off could definitely be related to the foundation that is made, which will represent the strong base that will underpin the other stages that make up the upper stages.
            <br><br>
            At this stage, the client will present the reasons for their interest in the project, what the general vision of the product is, the needs, desires and the expectations that have been generated.
          </p>
        </div>

      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

        <div class="default-image-block met-auto-tab-img-box">
          <img src="../static/images/share_ideas.png" alt="brainstorming" class="met-auto-tab-img">
          <p class="default-para met-auto-para">
            Respectful and constructive opinions and criticism are always welcome. During the group's internal evaluation, it is normal for different opinions and conflicts of ideas to arise regarding some points of the project (not conflicts as in fights and offenses, but as in contradictions and dilemmas). 
            <br><br>
            These discussions should be seen as positive, as these unequal thoughts will push the team out of its comfort zone, forcing it to look for possible solutions to the dilemma in question. These situations will always result in team growth and a series of possible improvements and new ideas).
          </p>
        </div>

      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

        <div class="default-image-block met-auto-tab-img-box">
          <img src="../static/images/chameleon.png" alt="camaleão" class="met-auto-tab-img">
          <p class="default-para met-auto-para">
            Even if this material is your first contact with Scrum, it is assumed that you have already understood how fundamental adaptability will be to the success of your project. One of the greatest advantages of this methodology is the autonomy it gives the team to make changes during the development of the project. 
            <br><br>
            All of this happens naturally. A new idea arises, new perspectives are accessed as the project progresses, what once made a lot of sense and was considered essential loses its importance and fades into the background, and everything is reformulated and improved).
          </p>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/metodologia/pilares{% endblock %}
{% block btnnext %}/en/metodologia/team{% endblock %}
