<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Introduction - Methodology | Scrum Plataform{% endblock %}
{% block color %}metodologia{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Methodology{% endblock %}
{% block subtitle %}Introduction{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-int-main">
  <div class="default-textbox met-int-textbox">
    <p class="default-para met-int-para">
      In the current accelerated and innovative market, for a company to stay modern, it needs <strong>
        to adapt itself to changes that tecnology is implementing</strong> and find, 
        in midst of this hectic scenario, opportunities to accomplish a relevant work.
    </p>

    <p class="default-para met-int-para">
      Having this point of view is crucial for an institution of success to establish adequate 
      methods that will guide the actions that will be taken in its work environment.
    </p>

    <div class="default-image-block met-int-image-block">
      <img src="../static/images/met_int.gif" class="met-int-border" />

      <p class="default-para met-int-para">
        In the past, the main methodology adopted by many institutions became popularly known as <strong>"Assembly line" or "Cascade method".</strong>
      </p>
    </div>

    <p class="default-para met-int-para">
      This traditional production system was inherited from the fordist development, during the second industrial revolution, and had as a principle the establishment of <strong>specific and repetitive tasks</strong>, designated to certain individuals <strong>that would little by little be added until they resulted in the expected final product.</strong>
    </p>



    <!-- Extra Content -->
    <p class="default-para met-int-para">
      Esse procedimento se perpetuou por certo tempo, porém foi mostrando-se ineficiente e revelando certas
      <strong>inconstâncias que retardavam o processo</strong>, principalmente durante a execução de tarefas mais complexas.
    </p>

    <button type="button" class="btn btn-primary met-pil-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Um passo para frente...
    </button>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">...mas no sentido contrário</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              Alguns exemplos de pontos negativos da produção no Método Cascata são:
            </p>
  
            <ul>
              <li>Avaliação tardia (sinalizando falhas no processo tardiamente)</li>
              <li>Estagnação do processo (deixando parte da força de trabalho ociosa enquanto aguarda o momento de realizar sua tarefa)</li>
            </ul>
            <div class="default-modal-image-block">
              <img src="../static/images/expectativa_realidade_balanço.jpg" alt="Expectativa e Realidade" class="default-modal-image met-int-modal-img">
            </div>
            <p>
              De que  vai adiantar fazer vários avanços se eles estão indo no oposto daquilo que o cliente realmente deseja? Essa soma de lacunas no processo produtivo são revertidas em atrasos e prejuízos para a empresa e insatisfação do cliente. 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seguir</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en{% endblock %}
{% block btnnext %}/en/metodologia/oqueescrum{% endblock %}
