<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}What is Scrum? - Methodolgy | Scrum Platform{% endblock %}
{% block color %}metodologia{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Methodology{% endblock %}
{% block subtitle %}What is Scrum?{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-oqs-main">
  <div class="default-textbox met-oqs-textbox">
    <p class="default-para met-oqs-para" style="margin-bottom: -1%">
      It was designed to obtain a way of <strong>increasing the performance and profitability in the development</strong>, and companies started adopting the so called <a href="/en/glossario#gloss-metodo-agil" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Agile Method">Agile Methodologies</a>, 
      Tools that aim to offer <strong>better work conditions and the resolution of tasks with more cost-effectiveness</strong>. 
      In midst of them, there's the methodology which we will be addressing in this content.
    </p>
   
    <h1 class="met-oqs-subt-scm">SCRUM</h1>
    <p class="default-para met-oqs-para">
      Unlike other methodologies, this <a href="/en/glossario#gloss-framework" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Framework">framework</a> has as a foundation, the establishment of a <strong>self-managing team, adaptable to changes</strong> and that lets go of the entire reinforced structure of professional hierarchy, in favor of promoting a <strong>better dynamicity and flow for the team</strong>, aiming to carry out more meaningful deliveries to the project.
    </p>
    <div class="image-box-fill met-oqs-image-block">
      <img src="../../static/images/met_oqs.png" class="fit-image-box met-oqs-image" />
    </div>
    <p class="default-para met-oqs-para">
      The name Scrum comes from a game of rugby, in which the<strong>players of a team get together and break through the obstacles of the opposing team</strong> until they reach the score line, all done <strong>strategically and collaboratively</strong>. This is the essence that Scrum brings to the workplace.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/metodologia/introducao{% endblock %}
{% block btnnext %}/en/metodologia/visao{% endblock %}
