<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Introdução - Product Owner | Plataforma Scrum{% endblock %}
{% block color %}product-owner{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Product Owner{% endblock %}
{% block subtitle %}Priorizando o valor do produto{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main po-int-main">
  <div class="default-textbox po-int-textbox">
    <p class="default-para po-int-para">
      O Proprietário do Produto, mais conhecido como P.O., é o responsável pelo produto em sua totalidade e deverá
      <strong>esclarecer para seu grupo quais são as expectativas e a visão geral que o cliente tem para o
        projeto</strong> e que deverão
      ser supridas durante o período de desenvolvimento para que o produto atinja os objetivos finais de aprovação.
    </p>

    <!--Conteúdo Extra-->
    <p class="default-para po-int-para">
      Sua atuação é de um <strong>interlocutor entre os membros de sua equipe e o cliente em questão.</strong> Ele será
      o responsável por
      captar os requisitos que forem levantados pelo contratante, levando em consideração suas necessidades e desejos, e
      encaminhá-los de forma clara e concisa ao grupo.
    </p>
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample" style="margin-bottom: 0.98%;">
        A boa comunicação
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card default-card-body po-int-card-body">
        <div class="default-collapse-text po-int-collapse-text">
          <h5>A boa comunicação</h5>
          <p>
            Você se lembra daquela brincadeira infantil em grupo chamada telefone sem fio? Nela uma das crianças define
            uma frase que será passada de uma criança para a outra sussurrando até que chegue na última criança, que
            falará o que ouviu em alta voz.
          </p>
          <div class="default-collapse-image po-int-collapse-image">
            <img src="../static/images/pexels-eren-li-7168996.jpg" alt="Telefone sem fio" class="" style="width: 100%;">
          </div>
          <p> O desafio é fazer com que a frase chegue completa aos ouvidos da última
            criança, mas uma pequena desatenção ou interpretação errada pode mudar completamente o sentido da frase.
            Assim, é no trabalho de um P.O.</p>
          <p>
            Ele é responsável por garantir que não haja equívocos na passagem dos
            requisitos e objetivos, de modo que o que foi designado pelo cliente seja garantido. </p>
        </div>
      </div>
    </div>


    <p class="default-para po-int-para">
      Em seguida, os membros realizarão juntos a análise técnica daquilo que foi
      levantado e definirão a estratégia que será adotada e <strong>quais medidas tomarão para desempenhar aquilo que
        foi
        requerido.</strong>
    </p>

    <div class="default-image-block po-int-image-block">
      <img src="../static/images/po-int.jpg" alt="po_int_illustration" class="po-int-image" />
      <p class="default-para po-int-para">
        É muito importante salientar que mesmo que a equipe faça a análise conjunta de cada uma das particularidades do
        processo e decida priorizar certos requisitos em detrimento de outros, <strong>sempre será o cliente a dar a
          palavra
          final quanto ao que é essencial e o que não é para o projeto</strong>. Assim, caberá ao P.O. representar o seu
        posicionamento dentro do ambiente de equipe, pois é ele o responsável por <strong>dominar aquilo que possui
          maior valor
          para o contratante</strong>. Portanto, uma característica indispensável para um bom P.O. é possuir o
        <strong>conhecimento
          aprofundado de cada uma das facetas do produto/serviço com o qual a equipe lidará.</strong>
      </p>
    </div>

    <p class="default-para po-int-para">
      Outras competências necessárias para desempenhar essa função são <strong>boa comunicação, habilidades
        interpessoais,
        facilidade em expressar, tanto para o cliente quanto para a equipe, as ideias e requisitos propostos.</strong>
    </p>
    <p class="default-para po-int-para">
      A principal ferramenta com a qual o P.O. irá interagir durante todo o período de desenvolvimento do projeto é o
      <strong>Backlog do Produto.</strong>
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/metodologia/team{% endblock %}
{% block btnnext %}/product-owner/backlog{% endblock %}