<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Conclusão | Plataforma Scrum{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}conclusion{% endblock %}
{% block contentTitle %}Conclusão{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main conclusion-main">
  <div class="default-textbox conclusion-textbox">
    <p class="default-para conclusion-para">
      O Scrum é essa metodologia que visa <strong>otimizar a produção em equipe</strong>, estabelecendo princípios que prezam pela:
    </p>

    <div class="arrow-circular-container">
      <img src="/static/images/circular_arrows.png"  class="arrow-circle-img" />
    </div>

    <p class="default-para conclusion-para" style="font-size: 1.5vw">
      <b><i>TRANSPARÊNCIA</i></b> dos membros envolvidos no projeto, proporcionando essa <strong>conexão de cada frente</strong> e o
      progresso de suas responsabilidades.
    </p>

    <p class="default-para conclusion-para" style="font-size: 1.5vw">
      <b><i>INSPEÇÃO</i></b> de cada funcionalidade por meio de <strong>sucessivas aplicações, análise de erros e correções.</strong>
    </p>

    <p class="default-para conclusion-para" style="font-size: 1.5vw">
      <b><i>ADAPTABILIDADE</i></b> do projeto, o qual passa por <strong>alterações na estratégia de desenvolvimento</strong> com o
      objetivo de realizar a uma entrega de grande valor para o cliente.
    </p>

    <p class="default-para conclusion-para">
      Além disso, é muito importante entender as responsabilidades de cada cargo e qual o seu impacto para que cada uma
      das Sprints de produção atendam às expectativas para aquele estágio.
    </p>

    <p class="default-para conclusion-para">
      Portanto, agora que você já possue o conhecimento de cada um dos pontos fundamentais da metodologia, <strong> aplique o Scrum no seu projeto e possua resultados maiores e mais assertivos de maneira ágil e eficaz.</strong>
    </p>

    <p class="default-para conclusion-para">
      A seguir, estão separados alguns conteúdos extras como <strong>retomada de termos técnicos e importantes, modelos de
      planilhas e sugestões de ferramentas e sistemas</strong> que irão te auxiliar em seu projeto.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/development-team{% endblock %}
{% block btnnext %}/tutorial{% endblock %}