<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Development Team | Plataforma Scrum{% endblock %} 
{% block color %}style="background-color: rgba(88, 216, 43, 0.65);"{% endblock %} 
{% block iconName %}dev_team{% endblock%} 
{% block contentTitle %}Development Team{% endblock %}
{% block subtitle %}O conhecimento técnico aplicado{%endblock %} 
{% block content %}

<div class="h-75 w-75 default-main dev-main">
  <div class="default-textbox dev-textbox">
    <p class="default-para dev-para">
      Por fim, o último cargo a ser abordado da metodologia Scrum é o Development Team (Time Desenvolvimento), também
      conhecido como Dev Team.
    </p>

    <p class="default-para dev-para">
      Estão inseridos nessa função todos os integrantes do grupo que participam do projeto na frente de <strong>desenvolvimento
      de atividades técnicas.</strong> Esses também são popularmente referidos como Devs.
    </p>

    <div class="default-image-block dev-image-block">
      <img src="../static/images/dev_team_ilustration.jpeg" alt="dev_team_illustration" class="dev-image" />
      <p class="default-para dev-para">
        Sua responsabilidade é <strong>identificar, através de seus conhecimentos específicos, meios para execução dos
        requisitos</strong>, além de possuir um repertório que agrega muito quando se está levantando funcionalidades que
        aprimorarão a experiência do usuário.
      </p>
    </div>

    <p class="default-para dev-para">
      Algumas das competências importantes para os membros do Dev Team são o <strong>conhecimento técnico das tecnologias, a
      capacidade de cooperação, a organização quanto aos prazos de entrega das atividades e a transparência quanto à
      evolução dos afazeres delegados.</strong>
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/scrum-master/burndown{% endblock %}
{% block btnnext %}/conclusao{% endblock %}