<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Introdução - Glossário | Plataforma Scrum{% endblock %}
{% block color %}style="background-color: rgba(29, 29, 27, 0.39);"{% endblock %}
{% block iconName %}glossary2{% endblock %}
{% block contentTitle %}Glossário{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main glossario-main">
    <div class="default-textbox glossario-textbox">

        <h1 class="glossario-letter">B</h1>
        <h1 class="glossario-header">Backlog</h1>
        <p class="default-para glossario-para">
            É uma ferramenta importante para gerenciamento do projeto, permitindo que a equipe de desenvolvimento tenha
            clareza sobre as prioridades e as expectativas do cliente. Durante o processo de desenvolvimento, os itens
            do
            backlog são trabalhados em sprints, que são períodos de tempo definidos (geralmente de uma a quatro semanas)
            nos
            quais a equipe trabalha para entregar as funcionalidades mais importantes do backlog.
        </p>

        <h1 class="glossario-header">Burndown</h1>
        <p class="default-para glossario-para">
            É uma ferramenta usada no Scrum para acompanhar o progresso do projeto ao longo do tempo. Ele mostra a
            quantidade de trabalho que ainda precisa ser realizada (eixo y) em relação ao tempo decorrido (eixo x)
            durante um sprint. A ideia é que, ao longo do tempo, a quantidade de trabalho pendente vá diminuindo até
            chegar a zero no final do sprint.
        </p>

        <h1 class="glossario-letter">D</h1>
        <h1 class="glossario-header">Daily scrum</h1>
        <p class="default-para glossario-para">
            É uma reunião diária no Scrum, na qual a equipe de desenvolvimento se encontra para sincronizar e planejar o
            trabalho do dia. Durante a reunião, cada membro da equipe compartilha o que fez no dia anterior, o que
            planeja fazer no dia atual e quais são os possíveis impedimentos que podem afetar o trabalho.
        </p>

        <h1 class="glossario-header">Definition of Done (DoD)</h1>
        <p class="default-para glossario-para">
            A Definition of Done é um conjunto de critérios que define quando uma tarefa ou uma funcionalidade é
            considerada concluída em metodologias ágeis. Ela descreve as etapas que devem ser concluídas para que o
            trabalho seja considerado finalizado, incluindo requisitos técnicos, de qualidade e de usabilidade. A DoD é
            geralmente definida pela equipe de desenvolvimento em conjunto com o Product Owner e é usada como uma
            referência para avaliar o progresso do trabalho durante uma sprint.
        </p>

        <h1 class="glossario-letter">F</h1>
        <h1 class="glossario-header">Framework</h1>
        <p class="default-para glossario-para">
            Conjunto de ferramentas, diretrizes e boas práticas que ajudam os desenvolvedores a construir aplicativos de
            software de forma mais rápida, fácil e consistente. Ele fornece uma estrutura geral para o desenvolvimento
            de software, permitindo que os desenvolvedores se concentrem mais em resolver problemas específicos do que
            em criar toda a estrutura do zero.
        </p>

        <h1 class="glossario-letter">K</h1>
        <h1 class="glossario-header">Kick off</h1>
        <p class="default-para glossario-para">
            No Scrum é a reunião inicial do projeto na qual a equipe e o Product Owner se encontram para alinhar
            expectativas e definir objetivos, escopo, requisitos, entregas e cronograma do projeto. É uma oportunidade
            para a equipe esclarecer dúvidas e entender melhor o produto que será desenvolvido.
        </p>

        <h1 class="glossario-letter">M</h1>

        <h1 class="glossario-header">Metodologias Ágeis</h1>
        <p class="default-para glossario-para">
            As metodologias ágeis são um conjunto de práticas e valores que enfatizam a colaboração, a interação com o
            cliente, a entrega de software funcional em ciclos curtos e a capacidade de adaptação a mudanças ao longo do
            tempo. As metodologias ágeis mais conhecidas incluem Scrum, Kanban, XP (Extreme Programming), Lean e
            Crystal.
        </p>

        <h1 class="glossario-letter">P</h1>

        <h1 class="glossario-header">Produto Mínimo Viável (MVP)</h1>
        <p class="default-para glossario-para">
            O MVP é uma técnica usada em metodologias ágeis para desenvolvimento de produtos e serviços que se concentra
            na criação de um produto com o mínimo de recursos necessários para satisfazer as necessidades dos usuários.
            O objetivo é lançar rapidamente um produto no mercado e obter feedback dos usuários, de forma a validar a
            ideia e identificar as funcionalidades mais importantes para futuros aprimoramentos.
        </p>

        <h1 class="glossario-letter">R</h1>

        <h1 class="glossario-header">Retrospectiva de Sprint (Sprint Retrospective)</h1>
        <p class="default-para glossario-para">
            A Retrospectiva de Sprint é uma reunião realizada no final de cada sprint em metodologias ágeis como o
            Scrum. Seu objetivo é avaliar o desempenho da equipe durante a sprint anterior e identificar oportunidades
            de melhoria para a próxima sprint. Durante a retrospectiva, a equipe discute o que funcionou bem, o que não
            funcionou e o que pode ser feito de forma diferente na próxima sprint.
        </p>

        <h1 class="glossario-letter">S</h1>

        <h1 class="glossario-header">Software</h1>
        <p class="default-para glossario-para">
            É um conjunto de programas de computador que controlam o funcionamento de um dispositivo eletrônico,
            permitindo a realização de diversas atividades.
        </p>

        <h1 class="glossario-header">Sprint</h1>
        <p class="default-para glossario-para">
            Uma sprint no Scrum é um período de tempo definido (geralmente de uma a quatro semanas) no qual a equipe de
            desenvolvimento trabalha para entregar uma quantidade definida de funcionalidades ou requisitos do produto.
            Durante a sprint, a equipe se concentra em alcançar os objetivos definidos no início do sprint, trabalhando
            nas tarefas do backlog de forma iterativa e incremental.
        </p>

        <h1 class="glossario-letter">U</h1>

        <h1 class="glossario-header">User Stories</h1>
        <p class="default-para glossario-para">
            As User Stories são uma técnica usada em metodologias ágeis para definir os requisitos de um produto de
            software. Elas são escritas a partir do ponto de vista do usuário, descrevendo uma funcionalidade específica
            que o usuário deseja que o sistema realize. As User Stories são geralmente escritas em linguagem simples e
            podem ser acompanhadas por critérios de aceitação que definem o que é necessário para que a funcionalidade
            seja considerada concluída.
        </p>

    </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/outros/materiais{% endblock %}