<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Home | Plataforma Scrum{% endblock %}
{% block content %}
  <main class="w-100 default-main home-main">
    <div class="triangle triangle-top"></div>
    <div class="triangle triangle-left"></div>
    <div class="triangle triangle-right"></div>
    <div class="triangle triangle-bottom"></div>
    <a href="/metodologia/introducao" class="home-icon-box icon-box-top">
      <p class="icon-text">Começar</p>
      <img src="../static/images/method.png" alt="Metodologia"  class="home-icon">
    </a>
    <a href="../product-owner/introducao" class="home-icon-box icon-box-left">
      <img src="../static/images/po.png" alt="Product Owner" class="home-icon">
      <p class="icon-text">Product Owner</p>
    </a>
    <a href="../development-team" class="home-icon-box icon-box-right">
      <img src="../static/images/dev_team.png" alt="Development Team" class="home-icon">
      <p class="icon-text">Development Team</p>
    </a>
    <a href="/scrum-master/introducao" class="home-icon-box icon-box-bottom">
      <img src="../static/images/scrum.png" alt="Scrum Master" class="home-icon">
      <p class="icon-text">Scrum Master</p>
    </a>

    <h1 class="home-title">SCRUM</h1>
    <div class="default-textbox home-textbox">
      <p class="default-text home-text">A metodologia ágil capaz de realizar projetos complexos de forma simples e gerenciável. Inicie sua jornada por essa ferramenta, revolucione a forma do seu time trabalhar e passe a ter rendimentos dobrados.</p>
    </div>
  </main>
{% endblock %}