<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}O que é Scrum? - Metodologia | Plataforma Scrum{% endblock %}
{% block color %}style="background-color: rgba(248, 134, 30, 0.65);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Metodologia{% endblock %}
{% block subtitle %}O que é Scrum?{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-oqs-main">
  <div class="default-textbox met-oqs-textbox">
    <p class="default-para met-oqs-para" style="margin-bottom: -1%">
      Foi pensando em obter um meio de <strong>aumentar o rendimento e a lucratividade no desenvolvimento</strong> que as empresas passaram a adotar as chamadas <a href="tapa buraco pro glossário">Metodologias Ágeis</a>, ferramentas que visam oferecer <strong>melhores condições de trabalho e resolução de tarefas com uma maior rentabilidade.</strong> Dentre elas, encontra-se a metodologia que estaremos abordando
      neste conteúdo:
    </p>
    <h1 class="met-oqs-subt-scm">SCRUM</h1>
    <p class="default-para met-oqs-para">
      Diferente de outras metodologias, este
      <a href="tapa buraco pro glossário">framework</a> tem por fundamento o estabelecimento de uma <strong>equipe
      autogerenciável, adaptável a mudanças</strong> e que abre mão de toda a estrutura enrijecida das hierarquias profissionais em função de promover uma <strong>maior dinamicidade e fluidez para o time</strong> com o objetivo de efetuar entregas mais rentáveis ao projeto.
    </p>
    <div style="text-align: center; padding-bottom: 3%">
      <img src="../static/images/met_oqs.png" class="met-oqs-border" />
    </div>
    <p class="default-para met-oqs-para">
      O nome Scrum tem origem em uma jogada do esporte rugby, na qual os <strong>jogadores de uma equipe se juntam e vão
      rompendo os obstáculos do time adversário</strong> até que possam alcançar a linha de pontuação, tudo isso realizado de forma <strong>estratégica e colaborativa.</strong> É essa a essência que o Scrum traz para o ambiente de trabalho.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/metodologia/introducao{% endblock %}
{% block btnnext %}/metodologia/visao{% endblock %}
