<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Team - Metodologia | Plataforma Scrum{% endblock %}
{% block color %}metodologia{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Metodologia{% endblock %}
{% block subtitle %}Team{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-team-main">
  <div class="default-textbox met-team-textbox">
    <p class="default-para met-team-para">
      Em todo início de projeto a equipe irá, a partir da visão do produto passada pelo cliente, <strong>estabelecer requisitos</strong>,
      os quais se referem aos fatores que <strong>promovem uma solução ou satisfazem as necessidades do cliente.</strong>
    </p>

    <!--Conteúdo Extra--> 
    <p class="default-para met-team-para">
      Esse estágio é mais conhecido como <a href="/glossario#gloss-kickoff" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossário: Kick Off">Kick Off</a>. A composição desses fatores será o produto final. Os requisitos são
      ordenados em uma lista de prioridades chamada <a href="/glossario#gloss-backlog" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossário: Backlog">Backlog</a>, a qual iremos discorrer com detalhes mais adiante.
    </p>

    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        A importância do Kick Off
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body met-team-card-body">
        <div class="overlay-text">
          <h5>Preparos para a largada</h5>
          <p>
            O Kick Off pode ser associado aos preparativos feitos por um corredor antes de uma corrida. Realizar a análise do percurso a ser trilhado e estudar qual a melhor estratégia a ser adotada são medidas que preparam o atleta e aumentam suas chances de obter bons resultados.
          </p>
  
          <p>
            Da mesma forma acontece no Kick Off. O time irá estudar os objetivos a serem alcançados e elaborar estratégias para que possam estruturar uma forma de desenvolvimento organizada e alinhada às expectativas do cliente para quando for dada a largada.
        </div>
        <div class="met-team-overlay-image-box">
          <img src="../static/images/runners_train.gif" class="met-team-overlay-image" alt="Gif Corredores">
        </div>
      </div>
    </div>

    <p class="default-para met-team-para">
      Após estabelecer a importância de cada uma dessas tarefas, inicia-se a produção, <strong>dando prioridade às que forem
      qualificadas como imprescindíveis</strong>, que não podem faltar no produto e assim suscessivamente.
    </p>

    <p class="default-para met-team-para">
      Os requisitos são divididos em períodos de produção, os quais são conhecidos como <a href="/glossario#gloss-sprint" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossário: Sprint">Sprints</a>.
    </p>

    <p class="default-para met-team-para">
      O projeto completo será composto por um série de Sprints, tendo a quantia variada de acordo com a complexidade do
      produto.
    </p>

    <div class="met-team-img">
      <img src="../static/images/scrum_steps.png" alt="Etapas Scrum" class="met-team-img" />
    </div>

    <p class="default-para met-team-para">
      No início de cada Sprint, os integrantes se reunirão para juntos alinharem as tarefas e a estratégia que serão adotadas. Essa etapa é conhecida como <a href="/glossario#gloss-plan" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossário: Sprint">Sprint Planning</a> - Planejamento de Sprint.
    </p>

    <p class="default-para met-team-para">
      Já ao final será realizada a já citada Retrospectiva de Sprint, a qual <strong>fornece um panorama geral de como a
      equipe se comportou e analisa os prós e os contras</strong> da etapa de desenvolvimento em questão.
    </p>

    <p class="default-para met-team-para">
      Quanto aos membros da equipe, eles serão divididos em cargos de acordo com a <strong>função que exercerão no time.</strong>
    </p>

    <p class="default-para met-team-para">
      Como no time Scrum não há nenhuma estrutura hierárquica, enfatiza-se que esses papéis se referem às
      <strong>responsabilidades</strong> que serão designadas para cada um.
    </p>

    <p class="default-para met-team-para" style="font-size: 2rem; font-weight: bold; text-align: center; padding: 20px">
      Os cargos que todo Scrum Team precisa ter são:
    </p>

    <div class="met-sect-memb">
      <div class="met-memb-po met-team-memb">
        <h4 class="met-team-memb-title">PRODUCT OWNER</h4>
        <img src="../static/images/po.png" alt="Prodcut Owner" class="met-img-po met-memb-img" />
      </div>

      <div class="met-memb-sm met-team-memb">
        <h4 class="met-team-memb-title">SCRUM MASTER</h4>
        <img src="../static/images/scrum.png" alt="Scrum Master" class="met-img-sm met-memb-img" />
      </div>

      <div class="met-memb-dev met-team-memb">
        <h4 class="met-team-memb-title">DEVELOPMENT TEAM</h4>
        <img src="../static/images/dev_team.png" alt="Development Team" class="met-img-dev met-memb-img" />
      </div>
    </div>

    <p class="default-para met-team-para" style="font-size: 1.5rem; font-weight: bold; text-align: center">
      A seguir, iremos discorrer com mais detalhes cada uma dessas funções.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/metodologia/autoavaliacao{% endblock %}
{% block btnnext %}/product-owner/introducao{% endblock %}
