<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Auto avaliação - Metodologia | Plataforma Scrum{% endblock %}
{% block color %}style="background-color: rgba(248, 134, 30, 0.65);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Metodologia{% endblock %}
{% block subtitle %}Autoavaliação{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-auto-main">
  <div class="default-textbox met-auto-textbox">
    <p class="default-para met-auto-para">
      As equipes Scrum possuem em sua essência a capacidade de serem <strong>autogerenciáveis.</strong>
    </p>

    <p class="default-para met-auto-para">
      Essa competência às proporciona a possibilidade de se abstraírem das situações e cenários em que estão inseridas
      para que possam <strong>analisar o processo de um ponto de vista crítico.</strong>
    </p>

    <p class="default-para met-auto-para">
      Esse é um estágio fundamental da produção, pois após longas horas de desenvolvimento, nas quais os desenvolvedores
      se encontram absortos em sua criatividade e ideias, os momentos de alinhamento de visão serão importantes para
      garantir que o <strong>projeto mantenha a identidade e os objetivos que foram estabelecidos.</strong>
    </p>

    <div class="met-auto-img-box">
      <img src="../static/images/autoavaliacao_meeting.jpg" alt="Reunião de autoavaliação" class="met-auto-img" />
    </div>

    <p class="default-para met-auto-para"; style="color: red;">
      A etapa ideal para que a equipe faça os apontamentos quanto a sua própria atuação é o período de <a href="/glossario" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossário: Retrospectiva de Sprint">Sprint Retrospective (Retrospectiva de Sprint)</a> . Nela, a equipe se reunirá para ter uma visão geral de como o projeto está
      se desenrolando.
    </p>

    <p class="default-para met-auto-para">
      Esse é o momento no qual cada um dos integrantes da equipe poderá <strong>avaliar o desempenho de seus colegas e receber
      os feedbacks de como tem sido a sua colaboração no projeto</strong>.
    </p>

    <p class="default-para met-auto-para"; style="color: red;">
      Alguns pontos individuais que podem ser considerados são entrega de resultados, autonomia, cooperação, proatividade, entre outros.
    </p>

    <p class="default-para met-auto-para">
      Tendo em vista a importância dessa etapa para o processo, segue uma série de dicas e recomendações de como
      autoavaliar seu desempenho individual e o do time:
    </p>
  </div>

  <div class="met-auto-tips-block">

    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
      <li class="nav-item met-auto-tips-button" role="presentation">
        <button class="nav-link met-auto-tips-button-text active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Estabeleça uma visão no Kick Off</button>
      </li>
      <li class="nav-item met-auto-tips-button" role="presentation">
        <button class="nav-link met-auto-tips-button-text" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Dê opiniões e ideias</button>
      </li>
      <li class="nav-item met-auto-tips-button" role="presentation">
        <button class="nav-link met-auto-tips-button-text" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Adapte-se</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <p class="default-para met-auto-para">
          [To be updated - Placeholder text until content is updated]
        </p>
      </div>
      <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <p class="default-para met-auto-para">
          [To be updated - Placeholder text until content is updated]
        </p>
      </div>
      <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <p class="default-para met-auto-para">
          [To be updated - Placeholder text until content is updated]
        </p>
      </div>
    </div>

  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/metodologia/pilares{% endblock %}
{% block btnnext %}/metodologia/team{% endblock %}
