<!DOCTYPE html>
{% if home == True %}
<html lang="en-US" class="home-document">
{% else %}
<html lang="en-US">
{% endif %}
  <head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/normalize.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <link rel="icon" href="../static/images/fav_icon.png">
  </head>   

  <body class="vh-100" data-section-color="{% block color %}{% endblock %}">

    <div id="loader"> 
        <img src="/static/images/loader_svg.svg" style="scale:1.25;"> 
    </div> 

    <!--Navbar-->
    <nav class="navbar navbar-custom navbar-expand-lg bg-body-secondary fixed-top">
        <div class="container-fluid" >
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcontent" aria-controls="navcontent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-logo" href="/en">
                <img src="../static/images/home.png" alt="navbarlogo" width="50px" height="50px" class="d-inline-block align-text-top">
            </a>
            <div class="collapse navbar-collapse" id="navcontent">
                <ul class="navbar-nav p-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Methodology</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="/en/metodologia/introducao">Introduction</a></li>
                            <li class="dropdown-item"><a href="/en/metodologia/oqueescrum">What is Scrum?</a></li>
                            <li class="dropdown-item"><a href="/en/metodologia/visao">Vision</a></li>
                            <li class="dropdown-item"><a href="/en/metodologia/pilares">Pillars</a></li>
                            <li class="dropdown-item"><a href="/en/metodologia/autoavaliacao">Self-evaluation</a></li>
                            <li class="dropdown-item"><a href="/en/metodologia/team">Team</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Product Owner</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="/en/product-owner/introducao">Introduction</a></li>
                            <li class="dropdown-item"><a href="/en/product-owner/backlog">Backlog</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Scrum Master</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="/en/scrum-master/introducao">Introduction</a></li>
                            <li class="dropdown-item"><a href="/en/scrum-master/burndown">Burndown & <br> Daily Scrum</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/en/development-team"> Development Team </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Others</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" ><a href="/en/conclusao">Conclusion</a></li>
                            <li class="dropdown-item" ><a href="/en/tutorial">In pratice</a></li>
                            <li class="dropdown-item" ><a href="/en/materiais">Materials</a></li>
                            <li class="dropdown-item" ><a href="/en/glossario">Glossary</a></li>
                            <li class="dropdown-item" ><a href="/en/form">Avaliation</a></li>
                        </ul>
                    </li>
                </ul>
            </div>  
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch">
                <label class="form-check-label" for="themeSwitch" id="themeSwitchLabel">Light/Dark mode</label>
            </div>
        </div>
    </nav>
    
    {% if home != True %}
    <!-- Header -->
    <div class="full-header">
        <div class="container-fluid header-base">
          <div id="texture" class="w-100 mh-100 d-flex justify-content-center">
            <div class="wrapper" style="width: 65%;">
                <div class="content-icon-back" >
                    <img src="../static/images/{% block iconName %}{% endblock %}.png" alt="icon" class="content-icon">
                </div>
                <div class="content-title-block">
                <h1 class="display-1 content-title" ><strong>{% block contentTitle %} {% endblock %}</strong></h1>
                <p class="h1 link content-subtitle"><u>{% block subtitle %} {% endblock %}</u></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endif %}

    <!-- Main / Content -->
    <main class="w-100 d-flex justify-content-center">
      {% block content %}
      {% endblock %}
    </main>

    {% if buttons != False and home != True %}
    <!-- Buttons -->
    <div class="next-prev-btn" {% block buttondisplay %}{% endblock %}>
        <a href="{%block btnback %}{%endblock%}" class="btn btn-secondary btn-back-custom btn-lg">Previous</a>
        <a href="{%block btnnext %}{%endblock%}" class="btn btn-secondary btn-next-custom btn-lg">Next</a>
    </div>
    {% endif %}
    
    <!--Footer-->
    <div class="footer-container">
        <div class ="footer-content">
            <span>Copyright &copy; 2023 Byte-Boost.</span>
            <br>
            <span>All rights reserved</span>
        </div>
        <div class ="footer-content">
            <div id="footer-address-box">
                FATEC, Address: Avenida Cesare Monsueto Giulio Lattes, 1350 Distrito - Eugênio de Melo, São José dos Campos - SP, 12247-014
            </div>
        </div>  
        <div class ="footer-content">
            <a href="/">Home</a>
        </div>
        <div class ="footer-content">
            <a href="https://fatecsjc-prd.azurewebsites.net/" target="_blank">Official Website</a>
        </div>
        <a href="https://github.com/Byte-Boost/Plataforma-Scrum" target="_blank">
            <img src="../static/images/github-mark.png" class="github-mark" alt="Github QRCODE"> 
        </a>
        
        <button class="btn btn-primary btn-footer-modal" data-bs-toggle="modal" data-bs-target="#footerModal">
            Who are we
        </button>
        
          <!-- Modal -->
          <div class="modal fade footer-modal" id="footerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Quem somos</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>
                    Projeto desenvolvido por grupo de alunos (Byte Boost) do 1° semestre de Análise e Desenvolvimento de Sistemas da FATEC de São José dos Campos.
                  </p>

                  <p>
                    Desenvolver um sistema web educacional para aprendizado da metodologia Scrum visando ensinar a metodologia e como aplicá-la de uma forma didática e com uma boa experiência ao usuário.
                  </p>

                    <ul class="footer-modal-memb">
                        <li class="footer-modal-item">
                            <div class="modal-memb memb-po">
                                <img src="../static/images/gabriel.png" alt="Foto Gabriel" class="memb-img">

                                <div class="memb-cont">
                                    <h4 class="memb-nome">Gabriel Alves de Souza</h4>
                                    <h6 class="memb-fun">Product Owner</h6>
                                    <ul class="memb-link">
                                        <li class="memb-link-item">
                                            <a href="https://github.com/gabriel15asouza" target="_blank">
                                                <img src="../static/images/github-mark.png" alt="Logo Github" class="memb-link-git">
                                            </a>
                                        </li>
                                        <li class="memb-link-item">
                                            <a href="https://www.linkedin.com/in/gabriel-alves-de-souza-5b7747267/" target="_blank">
                                                <img src="../static/images/linkedin.png" alt="Logo Linkedin" class="memb-link-linkedin">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="footer-modal-item">
                            <div class="modal-memb memb-sm">
                                <img src="../static/images/markos.png" alt="Foto Markos" class="memb-img">

                                <div class="memb-cont">
                                    <h4 class="memb-nome">Markos Vinícius Nunes</h4>
                                    <h6 class="memb-fun">Scrum Master</h6>
                                    <ul class="memb-link">
                                        <li class="memb-link-item">
                                            <a href="https://github.com/MarkVN2" target="_blank">
                                                <img src="../static/images/github-mark.png" alt="Logo Github" class="memb-link-git">
                                            </a>
                                        </li>
                                        <li class="memb-link-item">
                                            <a href="https://www.linkedin.com/in/markos-vin%C3%ADcius-nunes-230448268/" target="_blank">
                                                <img src="../static/images/linkedin.png" alt="Logo Linkedin" class="memb-link-linkedin">
                                            </a>
                                        </li>
                                    </ul>  
                                </div>
                            </div>
                        </li>
                        <li class="footer-modal-item">
                            <div class="modal-memb memb-dev">
                                <img src="../static/images/vinicius.png" alt="Foto Vinícius" class="memb-img">

                                <div class="memb-cont">
                                    <h4 class="memb-nome">Vinícius Felipe Forcato</h4>
                                    <h6 class="memb-fun">Development Team</h6>
                                    <ul class="memb-link">
                                        <li class="memb-link-item">
                                            <a href="https://github.com/nininhosam" target="_blank">
                                                <img src="../static/images/github-mark.png" alt="Logo Github" class="memb-link-git">
                                            </a>
                                        </li>
                                        <li class="memb-link-item">
                                            <a href="https://www.linkedin.com/in/vin%C3%ADcius-felipe-forcato-789462268/" target="_blank">
                                                <img src="../static/images/linkedin.png" alt="Logo Linkedin" class="memb-link-linkedin">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="footer-modal-item">
                            <div class="modal-memb memb-dev">
                                <img src="../static/images/jhuan.png" alt="Foto Gabriel" class="memb-img">

                                <div class="memb-cont">
                                    <h4 class="memb-nome">Jhuan Araújo de Souza</h4>
                                    <h6 class="memb-fun">Development Team</h6>
                                    <ul class="memb-link">
                                        <li class="memb-link-item">
                                            <a href="https://github.com/TheRabbitDev" target="_blank">
                                                <img src="../static/images/github-mark.png" alt="Logo Github" class="memb-link-git">
                                            </a>
                                        </li>
                                        <li class="memb-link-item">
                                            <a href="https://www.linkedin.com/in/jhuan-ara%C3%BAjo-de-souza-372233230/" target="_blank">
                                                <img src="../static/images/linkedin.png" alt="Logo Linkedin" class="memb-link-linkedin">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="footer-modal-item">
                            <div class="modal-memb memb-dev">
                                <img src="../static/images/marcos.png" alt="Foto Gabriel" class="memb-img">

                                <div class="memb-cont">
                                    <h4 class="memb-nome">Marcos Antônio Rodrigues dos Santos</h4>
                                    <h6 class="memb-fun">Development Team</h6>
                                    <ul class="memb-link">
                                        <li class="memb-link-item">
                                            <a href="https://github.com/Marcos-Antonio-Rodrigues-dos-Santos" target="_blank">
                                                <img src="../static/images/github-mark.png" alt="Logo Github" class="memb-link-git">
                                            </a>
                                        </li>
                                        <li class="memb-link-item">
                                            <a href="https://www.linkedin.com/in/marcos-antonio-329449268/" target="_blank">
                                                <img src="../static/images/linkedin.png" alt="Logo Linkedin" class="memb-link-linkedin">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
    </div>

    <!--JScripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='./scripts/index.js') }}"></script>
    {% if form == True %}
    <script type="module" src="{{ url_for('static', filename='./scripts/form.js') }}" ></script>
    {% endif %}
  </body>
</html>