<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Colocando em prática | Outros{% endblock %}
{% block color %}style="background-color: rgba(29, 29, 27, 0.39);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Colocando em prática{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
<!-- Conteudo da pagina inteira -->

<div class="h-75 w-75 default-main tutorial-main">

    <p class="default-para tutorial-para">
        Caso você, usuário, esteja sofrendo de duvidas recorrentes sobre a metodologia e seus procedimentos, nesta
        pagina vamos fornecer alguns materiais que podem vir a solucionar seus questionamentos.
    </p>

    <div class="default-textbox tutorial-textbox-auto">

        <h1 class="tutorial-title" id="tuto-auto-0">• Autoavalição </h1>

        <p class="default-para tutorial-para">
            A autoavaliação no Scrum é uma prática importante para que o Scrum Master possa avaliar o desempenho do
            grupo e identificar áreas de melhoria.<br><br> Aqui estão alguns passos para fazer uma boa autoavaliação no Scrum:
        </p>

        <h1 class="tutorial-header" id="tuto-auto-1">Primeiro passo: Identificação de objetivos</h1>

        <p class="default-para tutorial-para">
            Identifique seus objetivos com o Scrum Master, isso pode incluir a melhoria da eficiência da equipe, a
            remoção de impedimentos ou a promoção da colaboração entre os integrantes
        </p>

        <h1 class="tutorial-header" id="tuto-auto-2">Segundo passo: Avalie seu desempenho</h1>

        <p class="default-para tutorial-para">
            Avalie ele em relação aos objetivos identificados anteriormente, use métricas e dados concretos sempre que
            possível, isso pode incluir a eficiência da equipe, o tempo gasto em reuniões e a resolução de impedimentos.
        </p>

        <h1 class="tutorial-header" id="tuto-auto-3">Terceiro passo: Identifique áreas de melhoria</h1>

        <p class="default-para tutorial-para">
            Depois de avaliar seu desempenho identifique áreas em que você pode melhorar.
            Isso pode incluir a melhora da comunicação com a equipe e a remoção de impedimentos de forma mais eficaz por
            exemplo.<br><br> Defina metas de melhoria especificas e mensuráveis para melhoras seu desempenho como o
            desenvolvimento de habilidades, a implementação de práticas ágeis adicionais ou a promoção da colaboração
            entre os integrantes, etc.
        </p>

        <h1 class="tutorial-header" id="tuto-auto-4">Quarto passo: Plano de ação e acompanhamento</h1>

        <p class="default-para tutorial-para">
            desenvolva um plano de ação e acompanhe seu progresso, desenvolva um plano de ação para alcançar suas metas
            e
            monitore o seu progresso fazendo ajustes ao plano de ação se necessário.
        </p>
    </div>

    <div class="default-textbox tutorial-textbox-back">

        <h1 class="tutorial-title" id="tuto-back-0">• Backlog</h1>

        <p class="default-para tutorial-para">
            Lembre se que o backlog é um documento “vivo” e deve ser atualizado regularmente para garantir que as
            necessidades do produto sejam atendidas. Siga os seguintes passos:
        </p>

        <h1 class="tutorial-header" id="tuto-back-1">Primeiro passo: Identificação</h1>

        <p class="default-para tutorial-para">
            Identifique o objetivo do projeto antes de criar o backlog, é importante entender o objetivo
            para criar um documento que atenda as necessidades do produto.
        </p>

        <h1 class="tutorial-header" id="tuto-back-2">Segundo passo: Requisitos do produto</h1>

        <p class="default-para tutorial-para">
            Identifique os requisitos do produto, isso pode incluir a funcionalidade do produto, os
            requisitos do usuário, a arquitetura, lembre se de priorizar os requisitos, sendo feito com base no valor
            que cada requisito traz para o produto.
        </p>

    </div>

    <div class="default-image-block tutorial-img-box">

        <img src="../static/images/tutorial-img-4.png" alt="Backlog" class="tutorial-image">

    </div>

    <div class="default-textbox tutorial-textbox-back">

        <h1 class="tutorial-header" id="tuto-back-3">Terceiro passo: Crie as User Stories</h1>

        <p class="default-para tutorial-para">
            Crie as histórias de usuário com base nos requisitos identificados e priorizados, sejam
            estas descrições curtas e objetivas de uma funcionalidade do produto que descrevem o que o usuário quer e
            por que ele quer.<br><br> Lembre-se de estimar as histórias, para que o usuário tenha ideia de quanto tempo demorará
            para desenvolver cada uma delas.<br><br>Identifique os requisitos do produto, isso pode incluir a funcionalidade do
            produto, os
            requisitos do usuário, a arquitetura, lembre se de priorizar os requisitos, sendo feito com base no valor
            que cada requisito traz para o produto.
        </p>

    </div>

    <div class="default-image-block tutorial-img-box">

        <img src="../static/images/tutorial-img-5.png" alt="User Story" class="tutorial-image">

    </div>

    <div class="default-textbox tutorial-textbox-back">

        <p class="default-para tutorial-para">
            O backlog deve conter todas as histórias de usuário que serão desenvolvidas durante o sprint, portanto deve
            ser refinado regularmente a fins de garantir que as histórias estejam atualizadas e refletindo as
            necessidades do produto.
        </p>

    </div>

    <div class="default-textbox tutorial-textbox-daily">

        <h1 class="tutorial-title" id="tuto-daily-0">• Daily Scrum</h1>

        <p class="default-para tutorial-para">
            O daily scrum é uma reunião diária para manter a equipe alinhada e engajada, portanto é importante garantir
            que todos os membros estejam presentes e que a reunião seja realizada de maneira eficiente, para isso siga
            esse passo a passo:
        </p>

        <h1 class="tutorial-header" id="tuto-daily-1">Primeiro passo: Definição</h1>

        <p class="default-para tutorial-para">
            Faça uma escolha adequada de espaço e horário, essa é uma reunião rápida de 15 minutos,
            portanto é importante escolher um local que possibilite boa comunicação e um horário conveniente a
            todos.<br>Identifique o objetivo do projeto antes de criar o backlog, é importante entender o objetivo
            para criar um documento que atenda as necessidades do produto.
        </p>

        <h1 class="tutorial-header" id="tuto-daily-2">Segundo passo: Faça as 3 perguntas</h1>

        <p class="default-para tutorial-para">
            O Scrum Master deve começar a reunião explicando o objetivo do daily scrum e lembrando a
            todos da equipe das três perguntas que devem ser respondidas: O que foi feito desde a última reunião? Oque
            será feito até a próxima reunião? Existe algum impedimento atrapalhando o andamento do projeto? As respostas
            a essas perguntas devem ser curtas e objetivas.
        </p>

    </div>

    <div class="default-image-block tutorial-img-box">

        <img src="../static/images/tutorial-img-6.png" alt="Meeting" class="tutorial-image">

    </div>

    <div class="default-textbox tutorial-textbox-daily">

        <h1 class="tutorial-header" id="tuto-daily-3">Terceiro passo: Resolução de problemas</h1>

        <p class="default-para tutorial-para">
            Mantenha o foco e resolva impedimentos, qualquer assunto que não esteja diretamente
            relacionado com o a reunião deve ser discutido após a mesma. E se alguém mencionar algum impedimento que
            está atrapalhando o andamento o projeto, o Scrum Master deve tomar nota e discutir com a equipe como
            resolver o problema.
        </p>

    </div>

    <div class="default-textbox tutorial-textbox-burn">

        <h1 class="tutorial-title" id="tuto-burn-0">• Gráfico Burndown</h1>

        <h1 class="tutorial-header" id="tuto-burn-1">Primeiro passo: Definição de tarefas</h1>

        <p class="default-para tutorial-para">
            <strong>Distribuir as tarefas e o peso de cada uma delas antes de realizar o gráfico</strong>, atribuindo
            as tarefas de cada um, estimar o esforço é o que ajudará a distribuir de forma igual, assim não
            pesando muito para apenas uma pessoa do grupo.
        </p>

        <p class="default-para tutorial-para">
            Um exemplo para ajudar a definir um peso para uma tarefa é o <strong>planning poker</strong>, que é uma
            técnica que se baseia
            em definir uma sequencia numerica, como <strong>1, 2, 3, 5, 8, 13, 21, etc</strong>, e relacionar ela com
            uma estimativa de
            tempo. Abaixo seguem exemplos de como organizar tanto a estimativa de tarefas como também o planning poker:
        </p>

    </div>

    <div class="default-image-block tutorial-img-box">

        <img src="../static/images/tutorial-img-1.png" alt="Atribuição de tarefas" class="tutorial-image"
            id="tutorial-img-1" />

        <img src="../static/images/tutorial-img-2.png" alt="Planning Poker" class="tutorial-image"
            id="tutorial-img-2" />

    </div>

    <div class="default-textbox tutorial-textbox-burn">

        <h1 class="tutorial-header" id="tuto-burn-2">Segundo passo: Realização de Gráfico</h1>

        <p class="default-para tutorial-para">
            Mesmo sendo opcional, a melhor opção para visualizar de forma pontual como está o andamento
            da equipe é <strong>traçar um gráfico físico</strong>, onde temos uma linha do tempo que seria ideal para
            realizar as tarefas
            de forma uniforme e organizada e uma linha onde mostre como esta o andamento do projeto em relação a
            tempo.<br><br>
            É importante notar que se a sua linha de projeto esta acima da linha ideal, então você está
            <strong>atrasado</strong> em
            relação ao projeto, caso esteja abaixo você está <strong>adiantado</strong>.
        </p>

    </div>

    <div class="default-image-block tutorial-img-box">

        <img src="../static/images/tutorial-img-3.png" alt="burndown" class="tutorial-image">

    </div>

    <div class="default-textbox tutorial-textbox-burn">

        <h1 class="tutorial-header" id="tuto-burn-3">Terceiro passo: Atualização diaria</h1>

        <p class="default-para tutorial-para">
            Esse tema encaixa bem com daily scrum, o gráfico deve ser atualizado
            conforme as tarefas estão sendo feitas, para manter a visualização em dia assim tendo uma ideia do esforço
            restante.<br><br> <strong>Avalie o progresso</strong> para identificar se a equipe está no caminho correto
            para concluir todas as
            tarefas dentro do prazo.
        </p>

        <h1 class="tutorial-header" id="tuto-video">Video</h1>

        <p class="default-para tutorial-para">
            Logo abaixo, temos uma indicação de video do canal: <a href="https://www.youtube.com/@TICarreiras">TI
                Carreiras</a> onde você pode aprender mais sobre como fazer o seu próprio grafico burndown
        </p>

        <!-- <video class="tutorial-vid" src="../static/videos/tutorial_video_1.mp4.mp4" controls autoplay></video> -->

    </div>

    <div class="default-image-block tutorial-vid-box">

        <iframe class="tutorial-vid" src="https://www.youtube.com/embed/cFD84jcIjEw" frameborder="10" 
            allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </div>


</div>
{% endblock %}

{% block btnback %}{% endblock %}
{% block btnnext %}{% endblock %}