<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Colocando em prática | Outros{% endblock %}
{% block color %}style="background-color: rgba(29, 29, 27, 0.39);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Colocando em prática{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
<!-- Conteudo da pagina inteira -->
<div class="h-75 w-75 default-main tutorial-main">

    <div class="default-textbox tutorial-textbox">

        <h1 class="tutorial-title">• Gráfico Burndown</h1>

        <h1 class="tutorial-header">Primeiro passo: Definição de tarefas</h1>

        <p class="default-para tutorial-para">
            <strong>Distribuir as tarefas e o peso de cada uma delas antes de realizar o gráfico</strong>, atribuindo
            as tarefas de cada um, estimar o esforço é o que ajudará a distribuir de forma igual, assim não
            pesando muito para apenas uma pessoa do grupo.
        </p>

        <p class="default-para tutorial-para">
            Um exemplo para ajudar a definir um peso para uma tarefa é o <strong>planning poker</strong>, que é uma técnica que se baseia
            em definir uma sequencia numerica, como <strong>1, 2, 3, 5, 8, 13, 21, etc</strong>, e relacionar ela com uma estimativa de
            tempo. Abaixo seguem exemplos de como organizar tanto a estimativa de tarefas como também o planning poker:
        </p>

    </div>

    <div class="default-image-block tutorial-image-block">

        <img src="../static/images/tutorial-img-1.png" alt="Atribuição de tarefas" class="tutorial-image-1"
            id="tutorial-img-1" />

        <img src="../static/images/tutorial-img-2.png" alt="Planning Poker" class="tutorial-image-2"
            id="tutorial-img-2" />

    </div>

    <div class="default-textbox tutorial-textbox">

        <h1 class="tutorial-header">Segundo passo: Realização de Gráfico</h1>

        <p class="default-para tutorial-para">
            Mesmo sendo opcional, a melhor opção para visualizar de forma pontual como está o andamento
            da equipe é <strong>traçar um gráfico físico</strong>, onde temos uma linha do tempo que seria ideal para realizar as tarefas
            de forma uniforme e organizada e uma linha onde mostre como esta o andamento do projeto em relação a tempo.<br><br>
            É importante notar que se a sua linha de projeto esta acima da linha ideal, então você está <strong>atrasado</strong> em
            relação ao projeto, caso esteja abaixo você está <strong>adiantado</strong>.
        </p>
    
    </div>

    <div class="default-image-block tutorial-image-block">

        <img src="../static/images/tutorial-img-3.png" alt="burndown" class="tutorial-image-3">

    </div>

    <div class="default-textbox tutorial-textbox">

        <h1 class="tutorial-header">Terceiro passo: Atualização diaria</h1>

        <p class="default-para tutorial-para">
            Esse tema encaixa bem com daily scrum, o gráfico deve ser atualizado
            conforme as tarefas estão sendo feitas, para manter a visualização em dia assim tendo uma ideia do esforço
            restante.<br><br> <strong>Avalie o progresso</strong> para identificar se a equipe está no caminho correto para concluir todas as
            tarefas dentro do prazo.
        </p>

        <h1 class="tutorial-header">Video</h1>

        <p class="default-para tutorial-para">
            Logo abaixo, temos uma indicação de video do canal: <a href="https://www.youtube.com/@TICarreiras">TI Carreiras</a> onde você pode aprender mais sobre como fazer o seu próprio grafico burndown
        </p>

        <!-- <video class="tutorial-vid" src="../static/videos/tutorial_video_1.mp4.mp4" controls autoplay></video> -->

    </div>

    <div class="default-image-block tutorial-image-block">

        <iframe class="tutorial-vid" src="https://www.youtube.com/embed/cFD84jcIjEw" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </div>


</div>
{% endblock %}

{% block btnback %}{% endblock %}
{% block btnnext %}{% endblock %}