<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Putting it into practice | Others{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}In practice{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
<!-- Conteudo da pagina inteira -->

<div class="h-75 w-75 default-main tutorial-main">

    <p class="default-para tutorial-para">
        In case you have any doubts about how to apply this methodology, below we have selected some step-by-step methods on how to implement the Scrum Artifacts in your projects.
    </p>

    <div class="accordion tutorial-accord" id="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h1 class="tutorial-title" id="tuto-auto-0"> • Self-assessment </h1>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h1 class="tutorial-header" id="tuto-auto-1">Step one: Identifying goals</h1>

                <p class="default-para tutorial-para">
                    Identify your goals with the Scrum Master, this could include improving the efficiency of the team, removing obstacles or promoting collaboration between team members.
                </p>
        
                <h1 class="tutorial-header" id="tuto-auto-2">Step two: Evaluate your performance</h1>
        
                <p class="default-para tutorial-para">
                    Evaluate it in relation to the objectives identified earlier, use concrete metrics and data whenever possible, this can include the efficiency of the team, the time spent in meetings and the resolution of impediments.
                </p>
        
                <h1 class="tutorial-header" id="tuto-auto-3">Step three: Identify areas for improvement</h1>
        
                <p class="default-para tutorial-para">
                    After evaluating your performance, identify areas where you can improve. This could include improving communication with the team and removing impediments more effectively, for example. Set specific and measurable improvement goals to improve your performance, such as developing skills, implementing additional agile practices or promoting collaboration between team members, etc.
                </p>
        
                <h1 class="tutorial-header" id="tuto-auto-4">Step four: Action plan and follow-up</h1>
        
                <p class="default-para tutorial-para">
                    Develop an action plan to achieve your goals and monitor your progress by making adjustments to the action plan if necessary.
                </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h1 class="tutorial-title" id="tuto-back-0">• Backlog</h1>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            
                    <p class="default-para tutorial-para">
                        Remember that the backlog is a "living" document and must be updated regularly to ensure that the product's needs are met. Follow these steps:
                    </p>
            
                    <h1 class="tutorial-header" id="tuto-back-1">Step one: Identification</h1>
            
                    <p class="default-para tutorial-para">
                        Identify the objective of the project before creating the backlog. It is important to understand the objective in order to create a document that meets the needs of the product.
                    </p>
            
                    <h1 class="tutorial-header" id="tuto-back-2">Step two: Product requirements</h1>
            
                    <p class="default-para tutorial-para">
                        Identify the product requirements, this can include product functionality, user requirements, architecture, remember to prioritize the requirements, based on the value each requirement brings to the product.
                    </p>

                <div class="default-image-block tutorial-img-box">
            
                    <img src="../../static/images/tutorial-img-4.png" alt="Backlog" class="tutorial-image">
            
                </div>
                
                    <h1 class="tutorial-header" id="tuto-back-3">Step three: Create the user stories</h1>
            
                    <p class="default-para tutorial-para">
                        Create the user stories based on the identified and prioritized requirements, which are short, objective descriptions of a product feature that describe what the user wants and why they want it. 
                        Don't forget to estimate the stories so that the user has an idea of how long it will take to develop each one. Identify the product's requirements, which can include the product's functionality, user requirements, architecture, and don't forget to prioritize the requirements based on the value each requirement brings to the product.
                    </p>

                <div class="default-image-block tutorial-img-box">
            
                    <img src="../../static/images/tutorial-img-5.png" alt="User Story" class="tutorial-image">
            
                </div>
                    <p class="default-para tutorial-para">
                        The backlog should contain all the user stories that will be developed during the sprint, so it should be refined regularly to ensure that the stories are up to date and reflect the needs of the product.
                    </p> 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h1 class="tutorial-title" id="tuto-daily-0">• Daily Scrum</h1>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p class="default-para tutorial-para">
                    The daily scrum is a daily meeting to keep the team aligned and engaged, so it is important to ensure that all members are present and that the meeting is held efficiently, to do so, follow this step by step:
                </p>
        
                <h1 class="tutorial-header" id="tuto-daily-1">Step one: Definition</h1>
        
                <p class="default-para tutorial-para">
                    Make an appropriate choice of space and time, this is a quick 15-minute meeting, so it's important to choose a location that allows good communication and a convenient time for everyone.<br>Identify the objective of the project before creating the backlog, it is important to understand the objective in order to create a document that meets the needs of the product.
                </p>
        
                <h1 class="tutorial-header" id="tuto-daily-2">Step two: Ask the 3 questions</h1>
        
                <p class="default-para tutorial-para">
                    The Scrum Master should start the meeting by explaining the purpose of the daily scrum and reminding everyone on the team of the three questions that must be answered: What has been done since the last meeting? What will be done by the next meeting? Are there any obstacles hindering the progress of the project? The answers to these questions should be short and to the point.
                </p>
  
            <div class="default-image-block tutorial-img-box">
        
                <img src="../../static/images/tutorial-img-6.png" alt="Meeting" class="tutorial-image">
        
            </div>
        
                <h1 class="tutorial-header" id="tuto-daily-3">Step three: Problem solving</h1>
        
                <p class="default-para tutorial-para">
                    Stay focused and tackle obstacles. Any issue that is not directly related to the meeting should be discussed after the meeting. And if someone mentions an impediment that is hindering the progress of the project, the Scrum Master should take note and discuss with the team how to solve the problem.
                </p>
        
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h1 class="tutorial-title" id="tuto-burn-0">• Burndown chart</h1>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <h1 class="tutorial-header" id="tuto-video">Video</h1>

                <p class="default-para tutorial-para">
                    Below is a video from the <a href="https://www.youtube.com/@TICarreiras">TI
                        Carreiras</a> channel where you can learn more about making your own burndown chart.
                </p>

                <div class="default-image-block tutorial-vid-box">
            
                    <iframe class="tutorial-vid" src="https://www.youtube.com/embed/cFD84jcIjEw" frameborder="10" 
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
                </div>
                
                <h1 class="tutorial-header" id="tuto-burn-1">Step one: Defining tasks</h1>

                <p class="default-para tutorial-para">
                    <strong>Distributing the tasks and the weight of each one before making the chart</strong>, assigning the tasks to each person, estimating the effort is what will help to distribute them equally, so that they don't weigh too much for just one person in the group.
                </p>

                <p class="default-para tutorial-para">
                    An example to help define a weight for a task is <strong>planning poker</strong>, which is a technique based on defining a number sequence
                    like<strong>1, 2, 3, 5, 8, 13, 21, etc</strong>, 
                    and relate it to a time estimate. Below are examples on how to organize both task estimation and planning poker:
                </p>

                <div class="default-image-block tutorial-img-box">

  
                <img src="../../static/images/tutorial-img-1.png" alt="Atribuição de tarefas" class="tutorial-image"
                id="tutorial-img-1" />

                </div>

                <div class="default-image-block tutorial-img-box">

                    <img src="../../static/images/tutorial-img-2.png" alt="Planning Poker" class="tutorial-image"
                        id="tutorial-img-2" />

                </div>

        

                <h1 class="tutorial-header" id="tuto-burn-2">Step two: Charting</h1>

                <p class="default-para tutorial-para">
                    Even though it's optional, the best option for visualizing the team's progress in a timely manner is to draw a <strong>physical graph</strong>, where you have a timeline that would be ideal for carrying out tasks in a uniform and organized manner and a line showing how the project is progressing in relation to time.<br><br>
                    It's important to note that if your project line is above the ideal line, then you're behind on the project, if it's below <strong>you're ahead.</strong>
                </p>
            

                <div class="default-image-block tutorial-img-box">

                    <img src="../../static/images/tutorial-img-3.png" alt="burndown" class="tutorial-image">

                </div>

                <h1 class="tutorial-header" id="tuto-burn-3">Step three: Daily update</h1>

                <p class="default-para tutorial-para">
                    This theme fits in well with daily scrum, the chart should be updated as tasks are being done, to keep the visualization up to date so that you have an idea of the remaining effort.<br><br>
                    <strong>Evaluate progress</strong> to see if the team is on track to complete all tasks on time.
                </p>
              </div>
            </div>
          </div>
      </div>

</div>
{% endblock %}

{% block btnback %}{% endblock %}
{% block btnnext %}{% endblock %}