<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Burndown and Daily Scrum - Scrum Master | Scrum Platform{% endblock %}
{% block color %}scrum-master{% endblock %}
{% block iconName %}scrum{% endblock %}
{% block contentTitle %}Scrum Master{% endblock %}
{% block subtitle %}Burndown and Daily Scrum{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main sm-burn-main">
  <div class="default-textbox sm-burn-textbox">
    <p class="default-para sm-burn-para">
      The main purpose of the Burndown tool is to <strong>manage the internal organization of the team.</strong>
    </p>


    <p class="default-para sm-burn-para">
      Unlike the Backlog, which has the attribute of an external connection with the client, who also interacts and responds to the spreadsheet's requirements, <strong>the Burndown is for the exclusive use of the individuals within the group.</strong>
    </p>


    <p class="default-para sm-burn-para">
      Its functionality is similar to that of the <a href="/en/glossario#gloss-kanban" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Kanban">Kanban method</a>, where you can visually quantify the gradual development of tasks.
    </p>

    <p class="default-para sm-burn-para">
      In this way, the team can manage both the tasks that have been delegated from the establishment of the requirements, but also the group's <strong>internal development tasks, which the client doesn't need to be aware of</strong>, such as research into software technologies and functionalities, study activities, revision tasks and tests.
    </p>

    <div class="sm-burn-img-box">
      <img src="../../static/images/burndown_chart.png" alt="Burndown Graph" class="sm-burn-img"/>
    </div>

    <p class="default-para sm-burn-para">
      A special feature of this spreadsheet is its visual property, which gives a <strong>more in-depth view of the relationship between project progress and group productivity.</strong> Using the <a href="/en/glossario#gloss-burndown" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Burndown chart">Burndown Chart</a>, the team can see whether it is behind, ahead or on schedule in relation to the ideal delivery estimate. 
    </p>

    <p class="default-para sm-burn-para">
      The <strong>Daily Scrum</strong>, on the other hand, is a method established by the Scrum Master in which <strong>the team holds a daily (or periodic) accountability meeting</strong> in which team members update each other on what they are doing and the obstacles they are facing, answering the following questions:
    </p>
    <ul class="default-para sm-burn-para">
      <li>
        <h3 class="default-para sm-burn-para">O WHAT WAS DONE THE DAY BEFORE?</h3>
      </li>

      <li>
        <h3 class="default-para sm-burn-para">O WHAT WILL BE DONE TODAY?</h3>
      </li>

      <li>
        <h3 class="default-para sm-burn-para">WHAT ARE THE OBSTACLES?</h3>
      </li>
    </ul>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/scrum-master/introducao{% endblock %}
{% block btnnext %}/en/development-team{% endblock %}
