<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Introdução - Scrum Master | Scrum Platform{% endblock %}
{% block color %}scrum-master{% endblock %}
{% block iconName %}scrum{% endblock %}
{% block contentTitle %}Scrum Master{% endblock %}
{% block subtitle %}The methodology applied{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main sm-int-main">
  <div class="default-textbox sm-int-textbox">
    <p class="default-para sm-int-para">
      The Scrum Master is a member of the team who has a good understanding of the Scrum methodology, its practices and fundamental principles.
    </p>

    <div class="default-image-block sm-int-image-block" style="margin-bottom: 2%;">

      <div class="sm-int-circular-container">
        <img src="../static/images/sm_brainstorm_square.jpg" alt="sm_int_brainstorm" class="sm-image"
          id="sm-int-image-1" />
      </div>
      <p class="default-para sm-int-para">
        Its role boils down to <strong>monitoring the progress of the project</strong>, analyzing the performance of each of the members and concluding whether the development expectations are being met or if any of the parts of the project have any outstanding demands, thus carrying out the principle of <strong>INSPECTION.</strong>
      </p>


    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary met-pil-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom: 5%;">
      GOVERNING THE PROGRESS OF THE PROJECT
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">HOW TO CONDUCT?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>
              One of the greatest examples of exquisite teamwork are orchestras. The combination of different sounds, all synchronized to build a single sound experience, is one of the most beautiful artistic expressions. But managing such an organization so that everyone is in their place is no easy task. Behind every great orchestra there is always a great conductor conducting each part.</p>
            <img src="../static/images/maestro.jpg" alt="Maestro" class="met-auto-img-modal">
            <p>
              In a Scrum team, this is the role of the Scrum Master. He is the one who dictates the progress of the project, setting the pace with which all the individuals will perform their duties. The result: harmony.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Proceed</button>
          </div>
        </div>
      </div>
    </div>

    <p class="default-para sm-int-para">
      Another principle that is put into practice through the work of the Scrum Master is <strong>TRANSPARENCY.</strong>
    </p>


    <div class="default-image-block sm-int-image-block">
      <p class="default-para sm-int-para">
        Some important characteristics for the Scrum Master are <strong>organization in the general management of the group's tasks and achievements, good communication skills with the members and a motivating and driving character for the team</strong>, being able to identify possible obstacles and hindrances in the process and find methods of minimizing and eliminating them so that there is greater performance from the group.
      </p>
      <img src="../static/images/scrum_master_crop.png" alt="sm_int_scrum_master" class="sm-image"
        id="sm-int-image-2" />
    </div>

    <p class="default-para sm-int-para">
      They are the team member designated to make use of strategies and tools capable of <strong>integrating the team as a whole</strong>, so that <strong>all the other members are aware of each other's </strong>development and can estimate what stage of the project the group is at and how the distribution of tasks will be established.
    </p>


    <p class="default-para sm-int-para">
      In order to ensure that all these issues and principles of the methodology are met, the Master has some tools that will help him <strong>check the performance parameters</strong> and serve as instruments that <strong>make the evolution of the project more tangible to the other members.</strong> These tools are the <a href="/en/glossario#gloss-burndown"
    data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag"
    title="Glossary: Burndown">Burndown</a> and the <a href="/en/glossario#gloss-daily-scrum" data-bs-toggle="tooltip"
    data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Daily scrum">Daily Scrum</a>.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/product-owner/backlog{% endblock %}
{% block btnnext %}/en/scrum-master/burndown{% endblock %}