/*Import for the fonts for the site : ROBOTO,INTER,SOURCE PRO*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&family=Source+Code+Pro:wght@300&display=swap');

p {
  font-family: 'Inter', sans-serif;
}
/* CSS for every content page.  */
.met-vis-main,
.met-pil-main,
.met-auto-main,
.met-team-main,
.dev-main,
.conclusion-main,
.met-oqs-main,
.met-int-main,
.po-vdp-main,
.po-back-main{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

.met-vis-textbox,
.met-pil-textbox,
.met-auto-textbox,
.met-team-textbox,
.dev-textbox,
.conclusion-textbox,
.met-oqs-textbox,
.met-int-textbox,
.po-vdp-textbox,
.po-back-textbox{
  margin-top: 8%;
  width: 85%;
  text-align: justify;
}
.met-vis-para,
.met-pil-para,
.met-auto-para,
.met-team-para,
.dev-para,
.conclusion-para,
.met-oqs-para,
.met-int-para,
.po-vdp-para,
.po-back-para{
  font-size: 1.8rem;
  padding-bottom: 1%;
}

.dev-image-block,
.met-int-image-block,
.po-vdp-image-block,
.po-back-para-flex{
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%
}

.next-prev-btn{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 6%;
  margin-top: 10%;
  padding-bottom: 10%;
}

/* home */
.home-body{
  display: flex;
  flex-flow: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.home-body::-webkit-scrollbar {
  display: none;
}
.home-main{
  position: relative;
  width: 100%;
  min-height: 140vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.home-title{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14vmin;
}
.home-text-box{
  width: 42%;
  display: flex;
  gap: 15%;
}
.home-text{
  width: 50%;
  text-align: justify;
  font-size: 2.2vmin; 
}
.home-middle-image-block{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40%;
}
.role-quadrant{
  text-align: center;
}
.icon-text{
  font-size: 4vmin;
  font-weight: 600;
}
.triangle{
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.triangle-top{
  top: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-top: 70vh solid rgb(248,134,30,0.6);
}
.triangle-bottom{
  bottom: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-bottom: 70vh solid rgb(248,0,0,0.6);
}
.triangle-left{
  left: 0;
  border-top: 70vh solid transparent;
  border-bottom: 70vh solid transparent;
  border-left: 50vw solid rgb(47,177,250,0.6);
}
.triangle-right{
  right: 0;
  border-top: 70vh solid transparent;
  border-bottom: 70vh solid transparent;
  border-right: 50vw solid rgb(99,255,44,0.6);
}

/* metodologia/introducao */
.met-int-border{
  border: 1vmin black solid;
  width: 70%
}

/* metodologia/oqueescrum */
.met-oqs-subt-scm{
  font-size: 20vmin;
  text-align: center;
}
.met-oqs-border{
  border: 1vmin black solid;
  width: 80%
}


/* metodologia/visao */
.met-vis-listbox {
  width: 70%;
  margin-top: 5%;
  box-shadow: -0.8vmin 0px 0px rgba(248, 134, 30, 0.65);
}
.met-vis-list {
  display: flex;
  flex-flow: column;
  gap: 6vh;
}
.met-vis-list-item {
  font-size: 1.8rem;
  font-weight: 700;
}

/* metodologia/pilares */
.met-pil-three-sections {
  width: 85%;
  margin-top: 5%;
  display: flex;
  flex-flow: column wrap;
  gap: 2vh;
}
.met-pil-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.met-pil-img {
  aspect-ratio: 1/1;
  width: 200px;
  flex-grow: 0;
}
.met-pil-sect-textbox {
  flex-grow: 1;
}
.met-pil-sect-title {
  font-size: 2.8rem;
}
.met-pil-sect-text {
  font-size: 1.6rem;
  text-align: justify;
}

/* metodologia/autoavaliacao */
.met-img-box {
  width: 100%;
  text-align: center;
}
.met-auto-img {
  width: 60%;
  padding-bottom: 4%;
}
.met-tips-block {
 /* background-color: brown; */
 width: 85%;
}


/* metodologia/team */
.met-sect-memb {
  display: flex;
  width: 100%;
  gap: 2%;
}
.met-team-memb {
  width: 32%;
  text-align: center;
}
.met-team-memb-title {
  font-style: italic;
}
.met-memb-img {
  width: 70%;
}


/* productowner/backlog */

.po-back-para-negr {
  font-weight: 700;
  background-color: rgba(0, 255, 255, 0.233);
  padding: 1.5%;
  border-radius: 25px;
}


/* development-team */

.dev-image{
  width: 30%;
  border-radius: 36px;
}

/* conclusion */
/* container for the arrows in conclusion page */
.arrow-circular-container{
  border-radius: 100%;
  width: 25vw;
  height: 25vw;
  float: left;
  margin: 20px;
  shape-outside:circle();
  clip-path: circle();
}
