<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Conclusion | Scrum Platform{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}conclusion{% endblock %}
{% block contentTitle %}Conclusion{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main conclusion-main">
  <div class="default-textbox conclusion-textbox">
    <p class="default-para conclusion-para">
      Scrum is this methodology that aims to <strong>optimize team production</strong> by establishing principles that value:
    </p>
<div class="column-770 conclusion-text-divider">
    <div class="arrow-circular-container">
      <img src="../../static/images/circular_arrows.png"  class="arrow-circle-img" />
    </div>

    <p class="default-para conclusion-para">
      <b><i>TRANSPARENCY</i></b> of the members involved in the project, providing this<strong>connection of each front</strong> and the progress of their responsibilities.
    </p>

    <p class="default-para conclusion-para">
      <b><i>INSPECTION</i></b> of each feature through<strong>applications, error analysis and corrections.</strong>
    </p>

    <p class="default-para conclusion-para">
      <b><i>ADAPTABILITY</i></b> of the project, which undergoes  <strong>changes in development strategy</strong> in order to deliver great value to the client.
    </p>
</div>
    <p class="default-para conclusion-para">
      In addition, it is very important to understand the responsibilities of each position and their impact so that each of the production sprints meets the expectations for that stage.
    </p>

    <p class="default-para conclusion-para">
      So, now that you know each of the fundamental points of the methodology, <strong>apply Scrum to your project and achieve greater and more assertive results in an agile and effective way.</strong>
    </p>

    <p class="default-para conclusion-para">
      Below is some extra content, such as<strong> a review of important technical terms, spreadsheet templates and suggestions for tools and systems</strong> that will help you in your project.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/development-team{% endblock %}
{% block btnnext %}/en/tutorial{% endblock %}