<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Exam | Scrum Platform{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}conclusion{% endblock %}
{% block contentTitle %}Exam{% endblock %}
{% block subtitle %}{% endblock %}z
{% block content %}

<div class="h-75 w-75 default-main form-main">
    <p class="default-para">
        Now that you know the Scrum Methodology and its artifacts, how about performing an exercise to practice what you learned?
        <br><br>
        Solve the questions below and put your knowledge to the test to fixate your studies even more.
    </p>
    <div id="form-container"></div> 
    <div id="awnser-list"> 
        <input type="submit" id="submit-btn" value="Send">
    </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/development-team{% endblock %}
{% block btnnext %}/en/tutorial{% endblock %}