<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Glossário | Plataforma Scrum{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}glossary2{% endblock %}
{% block contentTitle %}Glossário{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main glossario-main">
    <div class="default-textbox glossario-textbox">

        <h1 class="glossario-letter">A</h1>
        <h1 class="glossario-header" id="gloss-artef">Artefatos Scrum</h1>
        <p class="default-para glossario-para">
            São todos os elemento utilizados dentro da metodologia que auxiliarão na execução do projeto de modo que esses respeitem cada um dos princípios do Scrum. Dentre eles estão o Backlog, o Burndown e as Daily Scrums. 
        </p>

        <h1 class="glossario-letter">B</h1>
        <h1 class="glossario-header" id="gloss-backlog">Backlog</h1>
        <p class="default-para glossario-para">
            É uma ferramenta importante para gerenciamento do projeto, permitindo que a equipe de desenvolvimento tenha
            clareza sobre as prioridades e as expectativas do cliente. Durante o processo de desenvolvimento, os itens
            do
            backlog são trabalhados em sprints, que são períodos de tempo definidos (geralmente de uma a quatro semanas)
            nos
            quais a equipe trabalha para entregar as funcionalidades mais importantes do backlog.
        </p>

        <h1 class="glossario-header" id="gloss-burndown">Burndown</h1>
        <p class="default-para glossario-para">
            É uma ferramenta usada no Scrum para acompanhar o progresso do projeto ao longo do tempo. Ele mostra a
            quantidade de trabalho que ainda precisa ser realizada (eixo y) em relação ao tempo decorrido (eixo x)
            durante um sprint. A ideia é que, ao longo do tempo, a quantidade de trabalho pendente vá diminuindo até
            chegar a zero no final do sprint.
        </p>

        <h1 class="glossario-letter">D</h1>

        <h1 class="glossario-header" id="gloss-daily-scrum">Daily scrum</h1>
        <p class="default-para glossario-para">
            É uma reunião diária no Scrum, na qual a equipe de desenvolvimento se encontra para sincronizar e planejar o
            trabalho do dia. Durante a reunião, cada membro da equipe compartilha o que fez no dia anterior, o que
            planeja fazer no dia atual e quais são os possíveis impedimentos que podem afetar o trabalho.
        </p>

        <h1 class="glossario-header" id="gloss-dod">Definition of Done (DoD)</h1>
        <p class="default-para glossario-para">
            A Definition of Done é um conjunto de critérios que define quando uma tarefa ou uma funcionalidade é
            considerada concluída em metodologias ágeis. Ela descreve as etapas que devem ser concluídas para que o
            trabalho seja considerado finalizado, incluindo requisitos técnicos, de qualidade e de usabilidade. A DoD é
            geralmente definida pela equipe de desenvolvimento em conjunto com o Product Owner e é usada como uma
            referência para avaliar o progresso do trabalho durante uma sprint.
        </p>

        <h1 class="glossario-header" id="gloss-dor"> Definition of Ready (DoR)</h1>
        <p class="default-para glossario-para">
            Todo projeto possui um caráter progressivo, ou seja, à medida que uma tarefa, outra já terá a base necessária e passa a estar apta para execução. Essa série de requisitos prévios que possibilitam que uma tarefa seja executada correspondem à Definição de Pronto, a qual estabelece se uma tarefa já pode ser produzida e, assim, adicionada ao Backlog da Sprint ou não.
        </p>

        <h1 class="glossario-letter">F</h1>
        <h1 class="glossario-header" id="gloss-framework">Framework</h1>
        <p class="default-para glossario-para">
            Conjunto de ferramentas, diretrizes e boas práticas que ajudam os desenvolvedores a construir aplicativos de
            software de forma mais rápida, fácil e consistente. Ele fornece uma estrutura geral para o desenvolvimento
            de software, permitindo que os desenvolvedores se concentrem mais em resolver problemas específicos do que
            em criar toda a estrutura do zero.
        </p>

        <h1 class="glossario-letter">K</h1>

        <h1 class="glossario-header" id="gloss-kanban">Kanban</h1>
        <p class="default-para glossario-para">
            O método Kanban corresponde a uma metodologia ágil que tem por objetivo transparecer a evolução do desenvolvimento de forma visual definindo as tarefas em setores (a fazer, em execução, concluídas ect.). Sua sinalização foi comumente associada ao uso de post-its coloridos, mas atualmente já existem softwares com a mesma funcionalidade.
        </p>

        <h1 class="glossario-header" id="gloss-kickoff">Kick off</h1>
        <p class="default-para glossario-para">
            No Scrum é a reunião inicial do projeto na qual a equipe e o Product Owner se encontram para alinhar
            expectativas e definir objetivos, escopo, requisitos, entregas e cronograma do projeto. É uma oportunidade
            para a equipe esclarecer dúvidas e entender melhor o produto que será desenvolvido.
        </p>

        <h1 class="glossario-letter">M</h1>

        <h1 class="glossario-header" id="gloss-metodo-agil">Metodologias Ágeis</h1>
        <p class="default-para glossario-para">
            As metodologias ágeis são um conjunto de práticas e valores que enfatizam a colaboração, a interação com o
            cliente, a entrega de software funcional em ciclos curtos e a capacidade de adaptação a mudanças ao longo do
            tempo. As metodologias ágeis mais conhecidas incluem Scrum, Kanban, XP (Extreme Programming), Lean e
            Crystal.
        </p>

        <h1 class="glossario-letter">P</h1>

        <h1 class="glossario-header" id="gloss-plan">Planejamento de Sprint</h1>
        <p class="default-para glossario-para">
            Nessa etapa da metodologia, toda a equipe se reune com o objetivo de estabelecer aquilo que será feito durante o período da Sprint. Nela geralmente, ocorre a divisão de tarefas (acordadas com o Backlog), estimativa de esforço, prazos e outros fatores.
        </p>

        <h1 class="glossario-header" id="gloss-mvp">Produto Mínimo Viável (MVP)</h1>
        <p class="default-para glossario-para">
            O MVP é uma técnica usada em metodologias ágeis para desenvolvimento de produtos e serviços que se concentra
            na criação de um produto com o mínimo de recursos necessários para satisfazer as necessidades dos usuários.
            O objetivo é lançar rapidamente um produto no mercado e obter feedback dos usuários, de forma a validar a
            ideia e identificar as funcionalidades mais importantes para futuros aprimoramentos.
        </p>

        <h1 class="glossario-letter">R</h1>

        <h1 class="glossario-header" id="gloss-sprint-ret">Retrospectiva de Sprint</h1>
        <p class="default-para glossario-para">
            A Retrospectiva de Sprint é uma reunião realizada no final de cada sprint em metodologias ágeis como o
            Scrum. Seu objetivo é avaliar o desempenho da equipe durante a sprint anterior e identificar oportunidades
            de melhoria para a próxima sprint. Durante a retrospectiva, a equipe discute o que funcionou bem, o que não
            funcionou e o que pode ser feito de forma diferente na próxima sprint.
        </p>

        <h1 class="glossario-header" id="gloss-sprint-rev">Revisão de Sprint </h1>
        <p class="default-para glossario-para">
            Nesse momento serão expostos para os chamados para todos aqueles que possume algum envolvimento com o projeto (cliente, colaboradores, marketing etc.) cada um dos elementos desenvolvidos na Sprint em questão, com o objetivo de validar o produto e o processo.
        </p>

        <h1 class="glossario-letter">S</h1>

        <h1 class="glossario-header" id="gloss-software">Software</h1>
        <p class="default-para glossario-para">
            É um conjunto de programas de computador que controlam o funcionamento de um dispositivo eletrônico,
            permitindo a realização de diversas atividades.
        </p>

        <h1 class="glossario-header" id="gloss-sprint">Sprint</h1>
        <p class="default-para glossario-para">
            Uma sprint no Scrum é um período de tempo definido (geralmente de uma a quatro semanas) no qual a equipe de
            desenvolvimento trabalha para entregar uma quantidade definida de funcionalidades ou requisitos do produto.
            Durante a sprint, a equipe se concentra em alcançar os objetivos definidos no início do sprint, trabalhando
            nas tarefas do backlog de forma iterativa e incremental.
        </p>

        <h1 class="glossario-letter">U</h1>

        <h1 class="glossario-header" id="gloss-user-stories">User Stories</h1>
        <p class="default-para glossario-para">
            As User Stories são uma técnica usada em metodologias ágeis para definir os requisitos de um produto de
            software. Elas são escritas a partir do ponto de vista do usuário, descrevendo uma funcionalidade específica
            que o usuário deseja que o sistema realize. As User Stories são geralmente escritas em linguagem simples e
            podem ser acompanhadas por critérios de aceitação que definem o que é necessário para que a funcionalidade
            seja considerada concluída.
        </p>

    </div>

    <img class="glossario-back-button" src="../static/images/back_button.png" alt="back button" onclick="history.back()">
    <!-- Credits (future footer): <a href=https://www.pngarts.com/explore/179585 target="_blank">Back Button Transparent Image</a> -->
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/outros/materiais{% endblock %}