<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Glossary | Scrum Platform{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}glossary2{% endblock %}
{% block contentTitle %}Glossary{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main glossario-main">
    <div class="default-textbox glossario-textbox">

        <h1 class="glossario-letter">A</h1>
        <h1 class="glossario-header" id="gloss-metodo-agil">
            Agile Methodologies</h1>
            <p class="default-para glossario-para">
                Agile methodologies are a set of practices and values that emphasize collaboration, interaction with the client, the delivery of functional software in short cycles and the ability to adapt to changes over time. The best-known agile methodologies include Scrum, Kanban, XP (Extreme Programming), Lean and Crystal.
            </p>

        <h1 class="glossario-letter">B</h1>
        <h1 class="glossario-header" id="gloss-backlog">Backlog</h1>
        <p class="default-para glossario-para">
            This is an important tool for project management, allowing the development team to be clear about the priorities and expectations of the client. During the development process, backlog items are worked on in sprints, which are defined periods of time (usually one to four weeks) in which the team works to deliver the most important features of the backlog.
        </p>

        <h1 class="glossario-header" id="gloss-burndown">Burndown</h1>
        <p class="default-para glossario-para">
            It is a tool used in Scrum to track project progress over time. It shows the amount of work that still needs to be done (y-axis) in relation to the time elapsed (x-axis) during a sprint. The idea is that, over time, the amount of outstanding work will decrease until it reaches zero at the end of the sprint.
        </p>

        <h1 class="glossario-letter">D</h1>

        <h1 class="glossario-header" id="gloss-daily-scrum">Daily scrum</h1>
        <p class="default-para glossario-para">
            This is a daily meeting in Scrum where the development team meets to synchronize and plan the day's work. During the meeting, each member of the team shares what they did the previous day, what they plan to do on the current day and what possible impediments might affect their work.
        </p>

        <h1 class="glossario-header" id="gloss-dod">Definition of Done (DoD)</h1>
        <p class="default-para glossario-para">
            The Definition of Done is a set of criteria that defines when a task or functionality is considered finished in agile methodologies. It describes the steps that must be completed for the work to be considered finished, including technical, quality and usability requirements. The DoD is usually defined by the development team in conjunction with the Product Owner and is used as a benchmark for assessing the progress of work during a sprint.
        </p>

        <h1 class="glossario-header" id="gloss-dor"> Definition of Ready (DoR)</h1>
        <p class="default-para glossario-para">
            Every project has a progressive nature, meaning that as one task is completed, another will already have the necessary basis and will be ready for execution. This series of prerequisites that make it possible for a task to be carried out corresponds to the Definition of Done, which establishes whether a task can already be produced and thus added to the Sprint Backlog or not.
        </p>

        <h1 class="glossario-letter">F</h1>
        <h1 class="glossario-header" id="gloss-framework">Framework</h1>
        <p class="default-para glossario-para">
            A set of tools, guidelines and good practices that help developers build software applications faster, easier and more consistently. It provides a general framework for software development, allowing developers to focus more on solving specific problems than on creating the entire structure from scratch.
        </p>

        <h1 class="glossario-letter">K</h1>

        <h1 class="glossario-header" id="gloss-kanban">Kanban</h1>
        <p class="default-para glossario-para">
            The Kanban method corresponds to an agile methodology that aims to show the progress of development in a visual way by defining tasks in sectors (to do, in progress, completed, etc.). Its signage was commonly associated with the use of colored post-its, but nowadays there is software with the same functionality.
        </p>

        <h1 class="glossario-header" id="gloss-kickoff">Kick off</h1>
        <p class="default-para glossario-para">
            In Scrum, this is the initial project meeting in which the team and Product Owner meet to align expectations and define the project's objectives, scope, requirements, deliverables and schedule. It is an opportunity for the team to clarify doubts and better understand the product that will be developed.
        </p>

        <h1 class="glossario-letter">M</h1>

        <h1 class="glossario-header" id="gloss-mvp">Minimum Viable Product (MVP)</h1>
        <p class="default-para glossario-para">
            MVP is a technique used in agile methodologies for developing products and services that focuses on creating a product with the minimum number of features needed to satisfy users' needs. The aim is to quickly launch a product on the market and get feedback from users in order to validate the idea and identify the most important features for future improvements.
        </p>

        <h1 class="glossario-letter">S</h1>

        <h1 class="glossario-header" id="gloss-software">Software</h1>
        <p class="default-para glossario-para">
            It is a set of computer programs that control the operation of an electronic device, allowing it to carry out various activities.
        </p>

        <h1 class="glossario-header" id="gloss-artef">Scrum Artifacts</h1>
        <p class="default-para glossario-para">
            These are all the elements used within the methodology that will help in the execution of the project so that they respect each of the Scrum principles. These include the Backlog, Burndown and Daily Scrums.
        </p>

        <h1 class="glossario-header" id="gloss-sprint">Sprint</h1>
        <p class="default-para glossario-para">
            The sprint in Scrum is a defined period of time (usually one to four weeks) in which the development team works to deliver a defined amount of functionality or product requirements. During the sprint, the team focuses on achieving the objectives defined at the start of the sprint, working on the tasks in the backlog in an iterative and incremental way.
        </p>

        <h1 class="glossario-header" id="gloss-sprint-ret">Sprint Retrospective</h1>
        <p class="default-para glossario-para">
            The Sprint Retrospective is a meeting held at the end of each sprint in agile methodologies such as Scrum. Its purpose is to evaluate the team's performance during the previous sprint and identify opportunities for improvement for the next sprint. During the retrospective, the team discusses what worked well, what didn't and what can be done differently in the next sprint.
        </p>

        <h1 class="glossario-header" id="gloss-sprint-rev">Sprint Review </h1>
        <p class="default-para glossario-para">
            At this point, everyone who has any involvement with the project (clients, collaborators, marketing, etc.) will be shown each of the elements developed in the Sprint in question, with the aim of validating the product and the process.
        </p>

        
        <h1 class="glossario-header" id="gloss-plan">Sprint Planning</h1>
        <p class="default-para glossario-para">
            In this stage of the methodology, the whole team meets to establish what will be done during the Sprint period. It usually involves dividing up tasks (according to the Backlog), estimating effort, deadlines and other factors.
        </p>

        <h1 class="glossario-letter">U</h1>

        <h1 class="glossario-header" id="gloss-user-stories">User Stories</h1>
        <p class="default-para glossario-para">
            User Stories are a technique used in agile methodologies to define the requirements of a software product. They are written from the user's point of view, describing a specific functionality that the user wants the system to perform. User Stories are usually written in simple language and can be accompanied by acceptance criteria that define what is required for the functionality to be considered complete.
        </p>

    </div>

    <img class="glossario-back-button" src="../../static/images/back_button.png" alt="back button" onclick="history.back()">
    <!-- Credits (future footer): <a href=https://www.pngarts.com/explore/179585 target="_blank">Back Button Transparent Image</a> -->
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/outros/materiais{% endblock %}