<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Materials - Others | Scrum Platform{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Materais{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
<div class="h-75 w-75 default-main met-auto-main">
    <div class="mat-content-limit">
        <!-- Planilhas -->
        <h1 class="mat-subtitle">Spreadsheet templates:</h1>
        <p class="default-para">Below are some examples of Backlog and Burndown spreadsheets so that you can adopt the format that best meets your group's demands and learn how to implement them.
        </p>
        
        <div id="matCard">
            <!-- Cards -->
            <div class="mat-model-cards">
                <div class="card mb-3" style="max-width: 40%;">
                    <div class="row g-0">
                        <div class="col-md-4 mat-card-img-wrapper">
                        <img src="../../static/images/backlog.png" class="mat-card-img img-fluid rounded-start" alt="backlog image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="mat-card-title">Backlog</h5>
                                <p class="card-text">Click on the icon below and choose a template to manage your projects.</p>
                                <button type="button" class="btn btn-primary collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">Expand</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 40%;">
                    <div class="row g-0">
                        <div class="col-md-4 mat-card-img-wrapper">
                        <img src="../../static/images/burndown_icon.png" class="mat-card-img img-fluid rounded-start" alt="backlog image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="mat-card-title">Burndown</h5>
                                <p class="card-text">Click on the icon below and choose a template to manage your projects.</p>
                                <button class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Expand</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Downloads -->

            <div class="accordion-item mat-model-cards">
                <!-- Backlog downloads -->
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#matCard">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="mat-card-title">Stake Holder Map</h5>
                          <a href="https://www.stakeholdermap.com/agile-templates/product-backlog-template.xlsx">Download</a>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#matCard">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="mat-card-title">Smartsheet</h5>
                          <a href="https://www.smartsheet.com/sites/default/files/2022-09/IC-Product-Backlog-11532.xlsx">Download</a>
                        </div>
                    </div>
                </div>

                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#matCard">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="mat-card-title">Backlog model</h5>
                          <a href="https://docs.google.com/spreadsheets/d/1jwPbNo-ZcM1YDRRh3ggv_9hx371VxQUK/edit?usp=drive_link&ouid=105178044020523310035&rtpof=true&sd=true">Download</a>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
            <div class="accordion-item mat-model-cards">
                <!-- Burndown downloads -->
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#matCard">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="mat-card-title">Automate Excel</h5>
                          <a href="https://www.automateexcel.com/blockedfolder/charts/burndown_chart.xlsx">Download</a>
                        </div>
                    </div>
                </div>

                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#matCard">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="mat-card-title">Stake Holder map</h5>
                          <a href="https://www.stakeholdermap.com/agile-templates/burndown-chart-template.xlsx">Download</a>
                        </div>
                    </div>
                </div>

                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#matCard">
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="mat-card-title">Burndown model</h5>
                          <a href="https://docs.google.com/spreadsheets/d/1IPvfknwvCBJdBnNjTIHWPU2dFTB9YfQ2/edit?usp=drive_link&ouid=105178044020523310035&rtpof=true&sd=true">Download</a>
                        </div>
                    </div>
                </div>
           

                <!-- -->
            </div>
        </div>
        
        <!-- Ferramentas -->
        <hr class="mt-5 mb-5">
        <h1 class="mat-subtitle">Support tools</h1>

        <div class="container text-center">
            <div class="row row-cols-3">
                <div class="col">
                    <div class="mat-fer-block">
                        <h4>Trello</h4>
                        <a href="https://trello.com/" target="_blank"><img src="../../static/images/icons8-trello-250.png" alt="trello icon" class="mat-fer-img"></a>
                        <p class="mat-fer-block-text">An excellent tool for managing your team's progress and visualizing how you and your team members are progressing in their respective tasks.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="mat-fer-block">
                        <h4>Notion</h4>
                        <a href="https://www.notion.so/" target="_blank"><img src="../../static/images/icons8-notion-250.png" alt="notion icon" class="mat-fer-img"></a>
                        <p class="mat-fer-block-text">In this task organization system, your team will be able to store general information about the project, such as meeting notes, a calendar, notes and even your Backlog.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="mat-fer-block">
                        <h4>Github</h4>
                        <a href="https://github.com/" target="_blank"><img src="../../static/images/github-mark.png" alt="github icon" class="mat-fer-img"></a>
                        <p class="mat-fer-block-text">This versioning platform will enable your team to make successive deliveries of product enhancements. Ideal for use by programmers, but also applicable to other teams working with collaborative systems.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="mat-fer-block">
                        <h4>Youtrack</h4>
                        <a href="https://www.jetbrains.com/pt-br/youtrack/" target="_blank"><img src="../../static/images/Youtrack.png" alt="youtrack icon" class="mat-fer-img"></a>
                        <p class="mat-fer-block-text">A "do-it-all" tool created by JetBrains for agile teams, free for groups of up to 10 members. The tool is capable of creating a burndown chart, backlog and can even be used to organize your teams.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="mat-fer-block">
                        <h4>Azure Ops</h4>
                        <a href="https://azure.microsoft.com/pt-br/products/devops" target="_blank"><img src="../../static/images/Azure Devops.png" alt="azure ops icon" class="mat-fer-img"></a>
                        <p class="mat-fer-block-text">Azure Ops is Microsoft's platform for teams using Scrum, with tools for creating Burndowns and Backlogs. Microsoft created the platform to integrate with other Microsoft services such as Azure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block btnback %}#{% endblock %}
{% block btnnext %}#{% endblock %}