
/*Animations*/
@keyframes rotate {
    from {}
    to{
      rotate:360deg;
    }
  }
@keyframes jumpUpRotate {
    0%{scale: 1;}
    50%{scale:1.5;rotate: 20deg;}
    75%{rotate: -20deg;}
    100%{scale:1;}
  }