/*Import for the fonts for the site : ROBOTO,INTER,SOURCE PRO, HOMENAJE*/
@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Inter&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@300&display=swap');
/* 
  for Inter use
  font-family: 'Inter', sans-serif;

  for Roboto use
  font-family: 'Roboto', sans-serif;

  for Roboto Mono use
  font-family: 'Roboto Mono', monospace;

  for Source Pro use 
  font-family: 'Source Code Pro', monospace;

  for Homenaje use
  font-family: 'Homenaje', sans-serif;

*/

p {
  font-family: 'Inter', sans-serif;
}
p strong {
  color: #023a5a;
}

/* Navbar */
/* Font family for the navbar items */
.navbar-custom {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}
/* Font family for the dropdown items */
.navbar-custom .dropdown-item {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}
/* Distance between elements of the navbar */
.navbar-nav > li {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
/* Change this to change the background color of the dropdown buttons */
.navbar-nav > li > .dropdown-menu {
  background-color: none;
}
/* Change this to change font color of the dropdown buttons */
.navbar-nav > li > .dropdown-item {
  color: none;
}
/* Change this to change hover color on nav elements */
.navbar-nav li > a:hover,
a:focus,
a:active {
  color: none;
}
/* Changes background of dropdown elements */
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: none !important;
  color: none !important;
}
/* Changes background of dropdown */
ul.dropdown-menu {
  background-color: none;
}
/*Color of the links in the dropdown*/
ul li a {
  display: block;
  text-decoration: none;
  color: black;
}
.tooltip-a-tag{
  white-space: nowrap
}
/* Header */
.full-header {
  height: 55%;
}
.header-base {
  height: 81.82%;
  padding: 0;
  background-image: url(../images/SquaresTogetherSmaller.png);
  background-size: cover;
  display: flex;
}
.wrapper {
  height: 100%;
  display: flex;
  align-items: end;
  gap: 1vw;
}
.content-icon-back {
  aspect-ratio: 1/1;
  width: 32vmin;
  margin-bottom: -7%;
  background-color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
}
.content-icon {
  aspect-ratio: 1/1;
  width: 95%;
}
.content-title-block {
  max-height: 80%;
  overflow: hidden;
  flex-grow: 1;
}
.content-title {
  font-size: 5vw;
}
.content-subtitle {
  font-size: 2.5vw;
}

/* default CSS for every content page.  */
.default-main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}
.default-textbox {
  margin-top: 8%;
  margin-top: 2%;
  width: 85%;
  text-align: justify;
}
.default-para {
  font-size: 1.8rem;
  padding-bottom: 1%;
}
.default-image-block,
.po-back-split-text-block {
  margin: 5% 0 5% 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}
.next-prev-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 6%;
  margin-top: 10%;
  padding-bottom: 5%;
}

/* home */
.home-body {
  display: flex;
  flex-flow: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.home-body::-webkit-scrollbar {
  display: none;
}
.home-main {
  position: relative;
  width: 100%;
  min-height: 140vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.home-title {
  margin: 0;
  font-family: 'Homenaje', sans-serif;
  color: #000000;
  font-size: 14vmin;
}
.home-textbox {
  width: 42%;
  display: flex;
  gap: 15%;
}
.home-text {
  width: 50%;
  text-align: justify;
  color: #000000;
  font-size: 2.2vmin;
}
.home-middle-image-block {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40%;
}
.role-quadrant {
  text-align: center;
}
.icon-text {
  font-size: 4vmin;
  font-weight: 600;
}
.triangle {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.triangle-top {
  top: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-top: 70vh solid rgb(248, 134, 30, 0.6);
}
.triangle-bottom {
  bottom: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-bottom: 70vh solid rgb(248, 0, 0, 0.6);
}
.triangle-left {
  left: 0;
  border-top: 70vh solid transparent;
  border-bottom: 70vh solid transparent;
  border-left: 50vw solid rgb(47, 177, 250, 0.6);
}
.triangle-right {
  right: 0;
  border-top: 70vh solid transparent;
  border-bottom: 70vh solid transparent;
  border-right: 50vw solid rgb(99, 255, 44, 0.6);
}

/* Seção Metodologia */
/* metodologia/introducao */
.met-int-border {
  border-top: 0.6vmin black solid;
  border-bottom: 0.6vmin black solid;
  width: 70%;
}
/* metodologia/oqueescrum */
.met-oqs-subt-scm {
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
  color: #000000;
  font-size: 20vmin;
  text-align: center;
}
.met-oqs-border {
  border: 0.6vmin black solid;
  width: 80%;
}
/* metodologia/visao */
.met-vis-listbox {
  width: 70%;
  margin-top: 5%;
  box-shadow: -0.8vmin 0px 0px rgba(248, 134, 30, 0.65);
}
.met-vis-list {
  display: flex;
  flex-flow: column;
  gap: 6vh;
}
.met-vis-list-item {
  font-size: 1.8rem;
  font-weight: 700;
}
/* metodologia/pilares */
.met-pil-three-sections {
  width: 85%;
  margin-top: 5%;
  display: flex;
  flex-flow: column wrap;
  gap: 2vh;
}
.met-pil-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.met-pil-img {
  aspect-ratio: 1/1;
  width: 200px;
  flex-grow: 0;
}
.met-pil-sect-textbox {
  flex-grow: 1;
}
.met-pil-sect-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.8rem;
}
.met-pil-sect-text {
  font-size: 1.6rem;
  text-align: justify;
}
/* metodologia/autoavaliacao */
.met-auto-img-box {
  width: 100%;
  text-align: center;
}
.met-auto-img {
  width: 60%;
  padding-bottom: 4%;
}
.met-auto-tips-block {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.met-auto-tips-button{
  display: default;
}
.met-auto-tips-button-text{
  font-size: 1.4rem;
  font-weight: 600;
}
/* metodologia/team */
.met-team-img-box {
  display: flex;
  width: 100%;
}
.met-team-img {
  width: 100%;
  padding-bottom: 1%;
}
.met-sect-memb {
  display: flex;
  width: 100%;
  gap: 2%;
}
.met-team-memb {
  width: 32%;
  text-align: center;
}
.met-team-memb-title {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-style: italic;
}
.met-memb-img {
  width: 70%;
}

/* Seção: Product Owner */
/* product-owner/valordoproduto */
.po-int-image-block {
  max-width: 100%;
}
.po-int-image {
  background-color: aqua;
  width: 40%;
}
/* product-owner/backlog */
.po-back-para-negr {
  font-weight: 700;
  background-color: rgba(0, 255, 255, 0.233);
  padding: 1.5%;
  border-radius: 25px;
}
.po-back-table {
  text-align: center;
  font-size: 2.8vmin;
  margin-bottom: 8%;
}

/* Seção: Scrum Master */
/* scrum-master/introducao */
#sm-int-image-1 {
  width: 20vw;
  clip-path: circle();
  shape-outside: circle();
}
#sm-int-image-2 {
  flex-shrink: 0;
  width: 35%;
  border-radius: 15vmin;
}
.sm-int-para{
  padding-bottom: 0%;
}
/* scrum-master/burndown */
.sm-burn-img-box {
  display: flex;
}
.sm-burn-img {
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}

/* Seção: Development Team */
/* development-team */
.dev-image {
  width: 30%;
  border-radius: 36px;
}

/* Glossary */
.glossario-letter{
  font-size: 4rem;
  padding-bottom: 4%;
  padding-top: 2%;
}

.glossario-header{
  font-size: 2.6rem;
}

/* Seção: Outros */
/* conclusao */
.arrow-circular-container {
  border-radius: 100%;
  width: 25vw;
  height: 25vw;
  float: left;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle();
}
