:root{
    font-size: 16px + 0.02vw;
}
@media (max-width: 768.98px){
    @media (orientation:portrait){
        .default-image-block{
            flex-direction: column;
        }
    }

    /*Universal*/
    .default-para{
        font-size: 1.1rem;
    }
    .default-textbox > .default-image-block > p{
        font-size: 1rem;
    }


    /* Seção: Metodologia */
    /* 3 - Visão */
    .met-vis-list > .met-vis-list-item{
        font-size: 1rem;
    }

    /* 4 - Pilares */
    .met-pil-sect-title{
        font-size: x-large;
    }
    .met-pil-sect-text{
        font-size: small;
    }

    /* 6 - Team */
    .met-team-card-body{
        flex-direction: column;
    }


    /* Seção: Outros */
    /* Tutorial */
    .tutorial-title,
    .tutorial-header{
        font-size: 2rem;
    }

    /* Material */
    .card-title{
        font-size: 0.9rem;
    }
    .card-text{
        display: none;
    }
    .col{
        width: 100% !important;
    }

    /* Conclusion */
    .conclusion-text-divider{
        display: flex;
        flex-direction: column;
    }
    .conclusion-text-divider > .arrow-circular-container{
        align-self: center;
    }
        
}
@media (min-width:769px) and (max-width: 991.98px){
    /*Universal*/
    .default-textbox > .default-image-block > p{
        font-size: large;
    }


    /* Seção Metodologia */
    /* 6 - Team */
        .met-team-card-body{
        flex-direction: column;
    }
}   
@media (max-width:1200px){
    /* Seção: Product Owner */
    /* 2 - Backlog */
    .po-back-split-text-block{
        flex-direction: column;
    }
}
@media (max-width:1400px){
    /* Seção: Metodologia */
    /* 5 - Auto-avaliação */
    .met-auto-tab-img-box{
        flex-direction: column;
    }
}
