/*Import for the fonts for the site : ROBOTO,INTER,SOURCE PRO, HOMENAJE*/
@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Inter&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Source+Code+Pro:wght@300&display=swap');
/* 
  for Inter use
  font-family: 'Inter', sans-serif;

  for Roboto use
  font-family: 'Roboto', sans-serif;

  for Roboto Mono use
  font-family: 'Roboto Mono', monospace;

  for Source Pro use 
  font-family: 'Source Code Pro', monospace;

  for Homenaje use
  font-family: 'Homenaje', sans-serif;

*/

/* (Default) Light mode parameters */
:root{
  font-size: 16px + 0.02vw;
  --default-bg-color: rgb(255, 255, 255);
  --default-txt-color: rgb(0, 0, 0);
  --bold-color: rgb(2, 16, 206);
  --icon-inversion: 0%;
  --default-invert: 40%;
  --hover-invert: 0%;
  --footer-bg: rgba(0, 0, 0, 0.65);
  --card-border-bg-color: rgba(0, 0, 0, 0.17);
  --accordion-active-bg-color: rgb(207, 226, 255, 0.5);
  --t-btn-next-color: rgb(57, 93, 255);
  --t-btn-next-font-color: rgb(255, 255, 255);
  --t-btn-back-color: rgb(226, 224, 224);
  --scrollbar-bg-color:rgba(31,31,31,0.7);
  --scrollbar-thumb-color:rgb(255,255,255);
  --form-right-color:rgba(0, 255, 0, 0.502);
  --form-wrong-color:rgba(255, 0, 0, 0.502);
  --form-borders-color:rgb(0, 0, 0);
  --form-input-color:rgb(70, 157, 192);
}
/* Dark mode parameters */
html[data-theme="dark"]{
  --default-bg-color: rgb(60, 60, 60);
  --default-txt-color: rgb(216, 216, 216);
  --bold-color: rgb(76, 168, 255);
  --icon-inversion: 85%;
  --default-invert: 60%;
  --hover-invert: 100%;
  --footer-bg: rgba(143, 143, 143, 0.65);
  --card-border-bg-color: rgba(255, 255, 255, 0.17);
  --accordion-active-bg-color: rgba(89, 155, 255, 0.5);
  --t-btn-next-color: rgb(86, 29, 245);
  --t-btn-next-font-color: rgb(255, 255, 255);
  --t-btn-back-color: rgb(94, 94, 94);
  --t-btn-back-font-color: rgb(255, 255, 255);
  --scrollbar-bg-color:rgba(31,31,31,0.7);
  --scrollbar-thumb-color:rgb(255,255,255);
  --form-right-color:rgba(0, 255, 0, 0.502);
  --form-wrong-color:rgba(255, 0, 0, 0.502);
  --form-borders-color:rgb(255, 255, 255);
  --form-input-color:rgb(110, 109, 110);
}
/* Scroll Customization */
html::-webkit-scrollbar{
  width: 0.8vw;
  display: block;
  background-color: var(--scrollbar-bg-color);
  border-radius: 50vw;
}
html::-webkit-scrollbar-thumb{
  background-color:var(--scrollbar-thumb-color);
  border-radius: 50vw;
}

p {
  font-family: 'Inter', sans-serif;
}
p strong {
  color: var(--bold-color);
}
body{
  min-width: 400px;
  background-color: var(--default-bg-color);
  color: var(--default-txt-color);
}

body[data-section-color="metodologia"]{
  --section-color: rgba(248, 134, 30, 0.65);
}
body[data-section-color="product-owner"]{
  --section-color: rgba(47, 177, 250, 0.65);
}
body[data-section-color="scrum-master"]{
  --section-color: rgba(219,	52,	52, 0.65);
}
body[data-section-color="dev-team"]{
  --section-color: rgba(88, 216, 43, 0.65);
}
body[data-section-color="outros"]{
  --section-color: rgba(29, 29, 27, 0.39);
}

/* CSS for template.html */
/* Loader */
#loader {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--default-bg-color);
  text-align: center;
  padding-top: 35vh;
  z-index: 9999;
  pointer-events: none;
}

/* Modified Bootstrap */
.nav-tabs .nav-link.active {
  color: var(--default-txt-color);
  background-color: var(--default-bg-color);
  border-bottom-color: transparent;
}
.modal-content{
  background-color: var(--default-bg-color);
}
.btn-close{
  filter: invert(var(--icon-inversion));
}
.accordion, .accordion-item, .accordion-collapse {
  background-color: var(--default-bg-color);
}
.accordion-button{
  background-color: var(--default-bg-color);
  color: var(--default-txt-color);
}
.accordion-button:not(.collapsed){
  background-color: var(--accordion-active-bg-color);
}
.card{
  color: var(--default-txt-color);
  background-color: var(--default-bg-color);
  border-color: var(--card-border-bg-color);
}

/* Navbar */
.navbar{
  transition: 0.6s;
}
.navbar-custom {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}
.navbar-custom .dropdown-item {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}
.navbar-nav > li {
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.navbar-logo:hover{
  transform: scale(1.1);
  transition: 0.2s;
}
.navbar-nav > li > .dropdown-menu {
  background-color: none;
}
.navbar-nav > li > .dropdown-item {
  color: none;
}
.navbar-nav li > a:hover,
a:focus,
a:active {
  color: none;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: none !important;
  color: none !important;
}
ul.dropdown-menu {
  background-color: none;
}
ul li a {
  display: block;
  text-decoration: none;
  color: black;
}
.tooltip-a-tag {
  white-space: nowrap;
  text-decoration: none;
  position: relative;
 
}
.tooltip-a-tag::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.tooltip-a-tag:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
#langBtn{
  filter: grayscale(100%);
  width: 30px;
  height: 20px;
  margin-right: 20px;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}
#langBtn:hover{
  filter: grayscale(0%);
  transform: scale(1.5);
}
#themeSwitch, 
#themeSwitchLabel{
  cursor: pointer;
  color: black;
}

/* Header */
.full-header {
  height: 55%;
}
.header-base {
  height: 81.82%;
  padding: 0;
  background-image: url(../images/SquaresTogetherSmaller.png);
  background-size: cover;
  display: flex;
}
.wrapper {
  height: 100%;
  display: flex;
  align-items: end;
  gap: 1vw;
}
#texture {
  background-color: var(--section-color);
}
.content-icon-back {
  aspect-ratio: 1/1;
  width: 32vmin;
  margin-bottom: -7%;
  background-color: var(--default-bg-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5vmin;
}
.content-icon {
  filter: invert(var(--icon-inversion));
  aspect-ratio: 1/1;
  width: 95%;
}
.content-title-block {
  max-height: 80%;
  overflow: hidden;
  flex-grow: 1;
}
.content-title {
  font-size: 5vw;
}
.content-subtitle {
  font-size: 2.5vw;
}

/* Footer */
.footer-container{
  color: white;
  background-color: var(--footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 2rem;
  font-size: clamp(13px, 0.8vw, 20px);
}
.footer-content{
  margin: 0.4rem 0;
  text-align: justify;
}
.footer-content > a{
  color: white;
  font-size: 13px;
}
#footer-address-box{
  max-width: 400px;
  font-size: clamp(11px, 0.7vw, 16px);
}
.github-mark{
  filter: invert(100%);
  aspect-ratio: 1;
  width: max(3rem, 3vw);
  margin: 0.5rem 0;
}
.footer-modal {
  color: var(--default-txt-color);
}
.footer-modal-memb {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  
}
.footer-modal-item {
  list-style: none;
}

/* Modal Footer */
.btn-footer-modal {
  background: rgb(207, 226, 255, 0.5);
  border: rgb(207, 226, 255, 0.5);
}
.btn-footer-modal:hover {
  background-color: rgba(0, 0, 0, 0.17);
  border: rgba(0, 0, 0, 0.17);
}
.modal-memb {
  margin: .1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.memb-img {
  width: 100%;
}
.memb-nome {
  margin: 0;
}
.memb-link {
  display: flex;
  padding: 0;
}
.memb-link-item {
  list-style: none;
}
.memb-link-git {
  width: 40%;
}
.memb-link-linkedin {
  width: 20%;
}
.memb-po {
  background-color: rgb(47, 177, 250, 0.6);
}
.memb-sm {
  background-color: rgb(248, 0, 0, 0.6);
}
.memb-dev {
  background-color: rgb(99, 255, 44, 0.6);
}


/* Buttons */
.next-prev-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 6%;
  margin-top: 10%;
  padding-bottom: 5%;
}
.btn-next-custom{
  font-size: 30px;
  color: var(--t-btn-next-font-color);
  border-width: 2.5px;
  border-color: #000000;
  background-color: var(--t-btn-next-color);

}
.btn-back-custom{
  font-size: 30px;
  color: var(--t-btn-back-font-color);
  border-width: 2.5px;
  border-color: #000000;
  background-color: var(--t-btn-back-color);
 
}



/* Default CSS for every/many content page.  */
.default-main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}
.default-textbox {
  color: var(--default-txt-color);
  margin-top: 8%;
  margin-top: 2%;
  width: 85%;
  text-align: justify;
}
.default-para {
  color: var(--default-txt-color);
  font-size: clamp(14px, 2vw, 40px);
  padding-bottom: 1%;
}
.default-image-block,
.po-back-split-text-block {
  margin: 5% 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

.default-card-body{
  gap: 6%;
  padding: 2%;
  margin-bottom: 2%;
}
.default-collapse-image-block, .default-modal-image-block, .image-box-fill{
  width: 100%;
  text-align: center;
}
.default-collapse-image, .default-modal-image, .fit-image-box{
  max-width: 100%;
}


/* home */
.home-document{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.home-document::-webkit-scrollbar {
  display: none;
}
.home-document nav.navbar {
  position: sticky;
}
.home-body {
  display: flex;
  flex-flow: column;
}
.home-main {
  position: relative;
  width: 100%;
  min-height: 140vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.home-title {
  margin: 0;
  font-family: 'Homenaje', sans-serif;
  color: var(--default-txt-color);
  font-size: 14vmin;
}
.home-textbox {
  margin: 0.5rem;
  width: 42%;
}
.home-text {
  text-align: justify;
  font-size: clamp(8px, 2vmin, 30px);
  margin: 0;
}
.triangle {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.triangle-top {
  --color: rgb(248, 134, 30, 0.6);
  top: 0;
  border-left: max(40vw, 160px) solid transparent;
  border-right: max(40vw, 160px) solid transparent;
  border-top: 70vh solid var(--color);
}
.triangle-bottom {
  --color:  rgb(248, 0, 0, 0.6);
  bottom: 0;
  border-left: max(40vw, 160px) solid transparent;
  border-right: max(40vw, 160px) solid transparent;
  border-bottom: 70vh solid var(--color);
}
.triangle-left {
  --color: rgb(47, 177, 250, 0.6);
  left: 0;
  border-top: 70vh solid transparent;
  border-bottom: 70vh solid transparent;
  border-left: max(50vw, 200px) solid var(--color);
}
.triangle-right {
  --color: rgb(99, 255, 44, 0.6);
  right: 0;
  border-top: 70vh solid transparent;
  border-bottom: 70vh solid transparent;
  border-right: max(50vw, 200px) solid var(--color);
}
.home-icon-box{
  text-align: center;
  position: absolute;
  border-radius: 2vmin;
  width: clamp(120px, 12.5vw, 280px);
  color: #000000;
  text-decoration: none;
  /* rouglhy 28vh height; */
}
.icon-box-top{
  bottom: calc(50% + 14vh);
}
.icon-box-bottom{
  top: calc(50% + 14vh);
}
.icon-box-left{
  left: 20vw;
  top: calc(50% - 8vw);
}
.icon-box-right{
  right: 20vw;
  top: calc(50% - 8vw);
}
.home-icon{
  width: 80%; /* home-icon-box = 12.5vw; therefore 10vw */
  filter: invert(var(--default-invert));
}
.home-icon-box:hover{
  transform: scale(1.1);
  transition: 0.6s;
}
.home-icon-box:hover .home-icon{
  filter: invert(var(--hover-invert));
  transition: 0.6s;
}
.icon-text {
  color: var(--default-txt-color);
  font-size: clamp(8px, 1.5vw, 40px);
  font-weight: 600;
}



/* Seção Metodologia */
/* metodologia/introducao */
.met-int-border {
  border-top: 0.6vmin black solid;
  border-bottom: 0.6vmin black solid;
  width: 70%;
}
.met-int-modal-img {
  padding-bottom: 2%;
  max-width: 100%;
}

/* metodologia/oqueescrum */
.met-oqs-subt-scm {
  font-family: 'Roboto Mono', monospace;
  font-weight: bolder;
  color: var(--color);
  font-size: 20vmin;
  text-align: center;
}
.met-oqs-image-block{
  margin-bottom: 2rem;
}
.met-oqs-image {
  border: 0.6vmin black solid;
  max-width: 100%;
}

/* metodologia/visao */
.met-vis-listbox {
  width: 70%;
  margin-top: 5%;
  padding: min(1rem, 1vw);
  box-shadow: -0.9vmin 0px 0px rgba(248, 134, 30, 0.65);
}
.met-vis-list {
  display: flex;
  flex-flow: column;
  gap: 6vh;
}
.met-vis-list-item {
  font-size: clamp(14px, 2vw, 40px);
  font-weight: 700;
}
/* metodologia/pilares */
.met-pil-three-sections {
  width: 85%;
  margin-top: 5%;
  display: flex;
  flex-flow: column wrap;
  gap: 2vh;
}
.met-pil-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.met-pil-img {
  aspect-ratio: 1/1;
  width: clamp(40px, 16vw ,200px);
  filter: invert(var(--icon-inversion));
  flex-grow: 0;
}
.met-pil-sect-textbox {
  flex-grow: 1;
}
.met-pil-sect-title {
  font: bold italic clamp(22px, 2.5vw, 60px) arial;
  font-family: 'Inter', sans-serif;
}
.met-pil-sect-text {
  font-size: clamp(12px, 1.4vw,32px);
  text-align: justify;
}
.met-pil-modal {
  margin-bottom: 2%;
}
.met-pil-image-modal {
  width: 100%;
  border: solid 2px #535353;
  margin-bottom: 3%;
}

/* metodologia/autoavaliacao */
.met-auto-img-box {
  width: 100%;
  text-align: center;
}
.met-auto-img {
  width: 60%;
  padding-bottom: 4%;
}
.met-auto-tips-block {
  width: 85%;
  display: flex;
  flex-direction: column;
}
.met-auto-tips-button {
  display: default;
}
.met-auto-tips-button-text {
  font-size: 1.4rem;
  font-weight: 600;
}
.met-auto-tab-img-box {
  text-align: justify;
  padding: 3%;
}
.met-auto-tab-img {
  max-width: 35%;
}
.met-auto-card-body {
  display: flex;
  flex-direction: row;
}
.met-auto-card-body > img{
width: 50%;
}
.met-auto-img-modal {
  width: 100%;
  margin: 4% 0;
}

/* metodologia/team */
.met-team-img-box {
  display: flex;
  width: 100%;
}
.met-team-img {
  width: 100%;
  padding-bottom: 1%;
}
.met-sect-memb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2%;
}
.met-team-memb {
  width: clamp(80px, 25vw, 250px);
  text-align: center;
}
.met-team-memb-title {
  font: italic bold clamp(10px, 2.5vw, 40px) arial;
  font-family: 'Inter', sans-serif;

}
.met-memb-img {
  filter: invert(var(--icon-inversion));
  width: 70%;
}
.met-team-card-body {
  display: flex;
  flex-direction: row;
  gap: 4%;
  margin-bottom: 2%;
}
.met-team-overlay-image-box {
  flex-basis: 200%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.met-team-overlay-image {
  max-width: 100%;
}



/* Seção: Product Owner */
/* product-owner/valordoproduto */
.po-int-image-block {
  max-width: 100%;
}
.po-int-image {
  flex-shrink: 0;
  width: 40%;
}

/* product-owner/backlog */
.po-back-para-negr {
  font-weight: 700;
  background-color: rgba(0, 255, 255, 0.233);
  padding: 1.5%;
  border-radius: 25px;
}
.po-back-table {
  text-align: center;
  font-size: 2.8vmin;
  margin-bottom: 8%;
  color: var(--default-txt-color)
}
.po-back-table .table-active {
  color: var(--default-txt-color);
  background-color: rgba(255, 255, 255, 0.15);
}



/* Seção: Scrum Master */
/* scrum-master/introducao */
#sm-int-image-1 {
  width: 20vw;
  clip-path: circle();
  shape-outside: circle();
}
#sm-int-image-2 {
  flex-shrink: 0;
  width: 35%;
  border-radius: 15vmin;
}
.sm-int-para {
  padding-bottom: 0%;
}

/* scrum-master/burndown */
.sm-burn-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sm-burn-img {
  max-width: 100%;
  padding-bottom: 1%;
}



/* Seção: Development Team */
/* development-team */
.dev-image {
  flex-shrink: 0;
  width: 30%;
  border-radius: 36px;
}



/* Seção: Outros */
/* conclusao */
@keyframes rotate {
  from {}
  to{rotate:360deg;}
}
.arrow-circular-container {
  text-align: center;
  border-radius: 100%;
  animation: rotate 10s infinite;
  -webkit-animation: rotate 10s infinite;
  width: 25vw;
  height: 25vw;
  float: left;
  margin: 15px;
  shape-outside: circle();
}
.arrow-circle-img{
  filter: invert(var(--icon-inversion));
  width: 24vw; 
  height: 23vw;
}
.conclusion-text-divider > .conclusion-para{
  font-size: clamp(10.5px, 1.5vw, 30px);
}

/* Glossary */
@keyframes jumpUpRotate {
  0%{scale: 1;}
  50%{scale:1.5;rotate: 20deg;}
  75%{rotate: -20deg;}
  100%{scale:1;}
}
.glossario-letter {
  font-size: 4rem;
  padding-bottom: 4%;
  padding-top: 2%;
}
.glossario-header {
  font-size: 2.6rem;
}
.glossario-back-button {
  position: fixed;
  aspect-ratio: 1;
  inset: auto 3.5vmin 3.5vmin auto;
  width: clamp(60px, 7vw, 140px);
  border-radius: 7vw;
  font-weight: 600;
  cursor: pointer;
}
.glossario-back-button:hover{
  animation: jumpUpRotate 3s infinite;
  -webkit-animation: jumpUpRotate 3s infinite;
}

/* Tutorial */
.tutorial-accord{
  width: clamp(300px, 75vw, 1125px);
  margin-bottom: 3%;
}
.tutorial-main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}
.tutorial-textbox-auto,
.tutorial-textbox-back,
.tutorial-textbox-daily,
.tutorial-textbox-burn {
  width: 85%;
  text-align: justify;
}
.tutorial-para {
  font-size: clamp(16px, 1.8vw, 34px);
  padding-bottom: 3%;
}
.tutorial-title {
  color: var(--default-txt-color);
  font-size: clamp(28px, 5vw, 100px);
  font-weight: 500;
  padding-bottom: 4%;
  padding-top: 0%;
}
.tutorial-header {
  color: var(--default-txt-color);
  font-size: clamp(28px, 3vw, 65px);
  padding-bottom: 4%;
}
.tutorial-img-box {
  justify-content: center;
  text-align: center;
  padding: 3%;
}
.tutorial-image {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}
.tutorial-vid-box {
  justify-content: center;
  text-align: center;
  padding: 3%;
}
.tutorial-vid {
  aspect-ratio: 16/9;
  width: clamp(250px, 60vw, 900px);
}

/* materiais */
.mat-content-limit {
  width: 85%;
}
.mat-subtitle {
  margin-bottom: 2%;
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
}
.mat-model-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}
.mat-card-title{
  font-size: clamp(14px, 2vw, 40px);
}
.mat-card-img-wrapper {
  aspect-ratio: 10/9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-card-img {
  filter: invert(var(--icon-inversion));
  width: 80%;
}
.mat-fer-block {
  align-items: center;
}
.mat-fer-block-text {
  font-size: clamp(10px, 2vw ,26px);
  text-align: justify;
}
.mat-fer-img {
  width: clamp(75px, 12vw, 220px);
}

/* forms */

.form-question{
  border: 3px solid black;
  border-radius: 20px;
  margin: 20px;
  padding:20px;
  text-align: center; 
}
.form-box{
  padding: 10px;
  background-color: var(--default-bg-color);  
  border-radius: 10px;
  border-left: 15px solid var(--form-borders-color) ;
  border-right: 15px solid var(--form-borders-color);
}
.form-label{
  font-family: system-ui, sans-serif;
  font-size: 1.35rem;
  font-weight: 500;
  line-height: 1.1;
  display: grid;
  grid-row: 1rem auto;
  gap: 0.5em;
}
#retry-btn{
  border-radius: 50vw;
  border: 2px solid var(--default-txt-color);
  background-color: var(--default-bg-color);
  color: var(--default-txt-color);
  transition: 100ms transform ease-in;
}
#retry-btn:hover{
  transform: scale(1.2);
}
input[type="submit"]{
  border-radius: 10px;
  border: 2px solid var(--default-txt-color);
  background-color: var(--default-bg-color);
  color: var(--default-txt-color);
  transition: 100ms transform ease-in;
}
input[type="submit"]:hover{
  transform: scale(1.2);
}
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--default-bg-color);
  margin: 0;
  font: inherit;
  margin: 0;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  place-content: center;
}
input[type="radio"]:focus {
  content: "";
  border-radius: 50%;
  transform: scale(1.2);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-input-color);
}
input[type="radio"]:checked:focus {
  transform: scale(1);
  box-shadow: inset 1em 1em var(--form-input-color);
}
input[type="radio"]:checked {
  transform: scale(1  );
  box-shadow: inset 1em 1em var(--form-input-color);
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
.awnser-list-object{
  aspect-ratio: 1;
  width: 20px;
  margin-inline: 5px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid var(--default-txt-color);
  background-color: var(--default-bg-color);
  color: var(--default-txt-color);
  transition: 100ms transform ease-in;
}
.awnser-list-object:hover{
  transform: scale(1.2);
}
#awnser-list{
  display: flex;
  margin-bottom: 20px;
}
.right{
  background-color: var(--form-right-color);
}
.wrong{ 
  background-color: var(--form-wrong-color)
}


/* Responsivity - Media queries */
@media (max-width: 768.98px){
  @media (orientation:portrait){
    /* General content */
    .default-image-block{
        flex-direction: column;
    }
  }
  /* General content */
  .column-770{
      display: flex;
      flex-direction: column;
  }
  /* Home */ 
.icon-box-top{
  bottom: calc(58% + 14vh);
}
.icon-box-bottom{
  top: calc(58% + 14vh);
}

.icon-box-left{
  left: 18vw;
  top: calc(50% - 8vw);
}
.icon-box-right{
  right: 18vw;
  top: calc(50% - 8vw);
}
  /* /materiais */
  .card-text{
      display: none;
  }
  .col{
      width: 100% !important;
  }
  /* Conclusão */
  .conclusion-text-divider > .conclusion-para{
      font-size: clamp(14px, 2vw, 40px);
  }
  .conclusion-text-divider > .arrow-circular-container{
      align-self: center;
  }
      
}
@media (min-width:769px) and (max-width: 991.98px){
  /* metodologia/team */
      .met-team-card-body{
      flex-direction: column;
  }
}   
@media (max-width:1199.98px){
  /* product-owner/backlog */
  .po-back-split-text-block{
      flex-direction: column;
  }
}
@media (max-width:1399.98px){
  /* metodologia/autoavaliacao */
  .met-auto-tab-img-box{
      flex-direction: column;
  }
}