<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Backlog - Product Owner | Scrum Platform{% endblock %}
{% block color %}product-owner{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Product Owner{% endblock %}
{% block subtitle %}Backlog{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main po-back-main">
  <div class="default-textbox po-back-textbox">
    <p class="default-para po-back-para">
      The Backlog is nothing more than a spreadsheet in which all the project's requirements are <strong>listed in descending order of priority </strong>(from the most important tasks to the least).
    </p>

    <p class="default-para po-back-para">
      <strong>It is essential for the team to have a well-defined Backlog </strong>right from the start of the project so that everyone can see not only what is being done at the moment, <strong>but also what responsibilities lie ahead.</strong>
    </p>

    <p class="default-para po-back-para">
      It should be emphasized that the <strong>Backlog spreadsheet is not an internal management tool for the group</strong>, but an instrument responsible for <strong>guiding both those within production and those outside it</strong>, which is the case of the client with whom the team has been cooperating.
    </p>

    <p class="default-para po-back-para">
      It is essential that the <strong>client and the team are on the same page with regard to the expectations and execution of the project</strong> so that together they can come up with solutions that are effective and exceed expectations.
    </p>
    
    <!--Conteúdo Extra-->
    <p class="default-para po-back-para po-back-para-negr">
      Remember that, like all Scrum elements, the Backlog also adapts to changes. One thing is certain: the requirements will change as the Sprints go on!
    </p>

    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Adapting
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card default-card-body po-back-card-body" style="display: flex;">
        <div class="default-collapse-text po-back-collapse-text">
          <h5>ADAPTING</h5>
          <p>
            hink of a long car journey of around 10 hours. Let's say you started your journey at 12 noon and decided to wear lighter clothes because of the heat. However, as time went by, the sun went down and the temperature cooled, so it made more sense for the traveler to wear heavier clothes to keep warm. </p>
          <p> The same applies with the course of the project. As the project unfolds, some points that were previously established lose their meaning and changes are needed that make more sense in the situation.</p>
        </div>
        <img src="../static/images/road-trip.gif" alt="">
      </div>
    </div>
    <img src="../static/images/po-back.png" alt="(IMAGEM EXEMPLO DA PLANILHA DE BACKLOG)" class="po-back-img"
      width="100%" />
    <div class="po-back-split-text-block" style="margin-bottom: 0%;">
      <p class="default-para po-back-para">
        In addition to the general Product Backlog, another essential worksheet for managing tasks and responsibilities is the  <strong>Sprint Backlog</strong> worksheet. This has the same essence as the general spreadsheet, but with a few more identifications and specifications so that the assigned tasks can be carried out in full.
      </p>

      <p class="default-para po-back-para">
        In this spreadsheet, all the requirements are described using what we call <a
        href="/en/glossario#gloss-user-stories" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag"
        title="Glossary: User story">User Stories</a>. These have the function of explaining the requirement in the format of a wish made by someone without technical knowledge, but which <strong>sets out the user's expectations in relation to the product they will have in the future.</strong>
      </p>
    </div>
    <button type="button" class="btn btn-primary met-pil-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-bottom: 7%;">
      ANOTHER PERSPECTIVE
    </button>  
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">ANOTHER'S VIEW</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="display: block;">
            <p>
              Each person has a unique story. Unique thoughts, unique experiences, unique opinions and unique realities. A successful product will be one that is able to identify these particularities, these different scenarios and bring value to each of them. User Stories are developed to access these various contexts. 
              These facilitators are able to make the team look through the lens of the user, find their needs and desires and promote solutions that will bring a better quality of life to the individual and enjoyable experiences.
            </p>
            <img src="../static/images/perspective.jpg" alt="Perspectiva" class="met-auto-img-modal">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seguir</button>
          </div>
        </div>
      </div>
    </div>

    <p class="default-para po-back-para">
      The standard format for a well-formulated US must contain the following information:
    </p>

    <table class="table po-back-table table-bordered">
      <thead>
        <tr>
          <th scope="col">INDIVIDUAL EXPRESSING DESIRE</th>
          <th scope="col" class="table-active">ACTION/ELEMENT I WISH TO INTERACT WITH</th>
          <th scope="col">WHY/REASON OF THE FUNCTIONALITY, WHAT IT WILL BRING TO THE EXPERIENCE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-danger">I, as a student user of the platform,</td>
          <td class="table-warning">would like a page to contact the teachers,</td>
          <td class="table-info">so that i can ask questions about the content being taught</td>
        </tr>
      </tbody>
    </table>

    <P class="default-para po-back-para">
      For a task to be able to be added to the Sprint Backlog, it must first pass the <a href="/en/glossario#gloss-dor" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Definition of done">Definition of Ready (DoR)</a> sieve, which has the role of <strong>qualifying whether a certain task can already be produced or whether there are still any pending issues that make it impossible to carry it out at the moment.</strong>
    </P>

    <p class="default-para po-back-para">
      Another item that must be included in the Sprint Backlog is the <strong>Task Effort Estimate.</strong> 
    </p>

    <p class="default-para po-back-para">
      This field will show how long it will take, from the group's point of view, <strong>to carry out a given task, given how difficult it is to accomplish.</strong>
    </p>
   
    <p class="default-para po-back-para">
      Next, the respective requirement from the Product Backlog that defines that US and its acceptance criteria are entered, the latter being one of the main parts of this spreadsheet. It is responsible for indicating what we call the <a href="/en/glossario#gloss-dod"
    data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag"
    title="Glossary: Definition of done">Definition of Done (DoD).</a> Based on these criteria, <strong>the group assesses whether the requirement can be classified as completed or not.</strong>
    </p>


  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/product-owner/introducao{% endblock %}
{% block btnnext %}/en/scrum-master/introducao{% endblock %}