<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Introduction - Product Owner | Scrum Platform{% endblock %}
{% block color %}product-owner{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Product Owner{% endblock %}
{% block subtitle %}Prioritizing the produt value{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main po-int-main">
  <div class="default-textbox po-int-textbox">
    <p class="default-para po-int-para">
      The Product Owner, better known as the P.O., is responsible for the product as a whole and must <strong>clarify to his team what the client's expectations and general vision are for the project</strong>, which must be met during the development period for the product to achieve the final approval criteria.
    </p>

    <!--Conteúdo Extra-->
    <p class="default-para po-int-para">
      Their role is that of <strong>an interlocutor between the members of their team and the client in question.</strong> They will be responsible for capturing the requirements raised by the contractor, taking into account their needs and desires, and forwarding them clearly and concisely to the group.
    </p>
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample" style="margin-bottom: 0.98%;">
        GOOD COMMUNICATION
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card default-card-body po-int-card-body">
        <div class="default-collapse-text po-int-collapse-text">
          <h5>A good communication</h5>
          <p>
            Do you remember that children's game called telephone (also known as "Chinese whispers")? In it, one of the children chooses a sentence that will be passed from one child to the next in whispers until it reaches the last child, who will say what they heard out loud.
          </p>
          <div class="default-collapse-image po-int-collapse-image">
            <img src="../static/images/pexels-eren-li-7168996.jpg" alt="Telefone sem fio" class="" style="width: 100%;">
          </div>
          <p> The challenge is to make sure that the sentence reaches the ears of the last child, but a small oversight or misinterpretation can completely change the meaning of the sentence. The same is true for the job of the P.O.</p>
          <p>
            They are responsible for ensuring that there are no misunderstandings when passing on requirements and objectives, so that what was passed on by the client is preserved.</p>
        </div>
      </div>
    </div>


    <p class="default-para po-int-para">
      Next, the members will jointly carry out a technical analysis of what has been raised and will define the strategy that will be adopted and <strong>what measures they will take to carry out what has been requested.</strong>
    </p>

    <div class="default-image-block po-int-image-block">
      <img src="../static/images/po-int.jpg" alt="po_int_illustration" class="po-int-image" />
      <p class="default-para po-int-para">
        It's very important to note that even if the team analyzes each of the particularities of the process together and decides to prioritize certain requirements over others, <strong>the client will always have the final say as to what is essential for the project and what is not</strong>. It will therefore be up to the P.O. to represent their position within the team environment, as they are responsible for <strong>mastering what is of greatest value to the contractor</strong>. Therefore, an indispensable characteristic for a good P.O. is to have
        <strong>in-depth knowledge of each facet of the product/service that the team will be dealing with.</strong>
      </p>
    </div>

    <p class="default-para po-int-para">
      Other skills needed to perform this role are<strong> good communication and interpersonal skills, and the ability to express ideas and proposed requirements to both the client and the team.</strong>
    </p>
    <p class="default-para po-int-para">
      The main tool with which the P.O. will interact throughout the project development period is the
      <strong> Product Backlog.</strong>
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/metodologia/team{% endblock %}
{% block btnnext %}/en/product-owner/backlog{% endblock %}