/*Footer*/
.footer-container{
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    height: fit-content;
    text-align:center;
  }
  .footer-content{
    display: inline-block; 
    padding-right:1% ; 
    padding-bottom:1%;
  }
  .footer-content > a{
    font-size: 13px;
    color:white;
  }