<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Home | Plataforma Scrum{% endblock %}
{% block content %}
  <main class="w-100 default-main home-main">
    <div class="triangle triangle-top"></div>
    <div class="triangle triangle-left"></div>
    <div class="triangle triangle-right"></div>
    <div class="triangle triangle-bottom"></div>
    <a href="/en/metodologia/introducao" class="home-icon-box icon-box-top">
      <p class="icon-text">Start</p>
      <img src="../static/images/method.png" alt="Metodologia"  class="home-icon">
    </a>
    <a href="/en/product-owner/introducao" class="home-icon-box icon-box-left">
      <img src="../static/images/po.png" alt="Product Owner" class="home-icon">
      <p class="icon-text">Product Owner</p>
    </a>
    <a href="/en/development-team" class="home-icon-box icon-box-right">
      <img src="../static/images/dev_team.png" alt="Development Team" class="home-icon">
      <p class="icon-text">Development Team</p>
    </a>
    <a href="/en/scrum-master/introducao" class="home-icon-box icon-box-bottom">
      <img src="../static/images/scrum.png" alt="Scrum Master" class="home-icon">
      <p class="icon-text">Scrum Master</p>
    </a>

    <h1 class="home-title">SCRUM</h1>
    <div class="default-textbox home-textbox">
      <p class="default-text home-text">The agile methodology is capable of accomplishing complex projects in a simple and manageable way.
        Start your journey with this tool, revolutionize the way your team works and start having double the performance.
        </p>
    </div>
  </main>
{% endblock %}