{% extends 'NHTemplate.html' %}

{% block title %}Conclusão{% endblock %}
{% block color %}style="background-color: rgba(29, 29, 27, 0.39);"{% endblock %}
{% block iconName %}conclusion{% endblock %}
{% block contentTitle %}Conclusão{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
  <!-- Conteudo da pagina inteira -->
  <div class="h-100 d-flex align-items-center justify-content-center">
    <p style="margin-top: 5vw; font-size: 22px;">O Scrum é essa metodologia que visa otimizar a produção em equipe,<br> estabelecendo princípios que prezam pela:
    </p>
   
  </div>
  <div class= 'h-100'>
  <div class="circle-arrow" id="arrow_down" style="display: none;"><!--NOT FINISHED-->
  </div>
  </div>
{% endblock %}