{% extends 'NHTemplate.html' %}

{% block title %}Conclusão{% endblock %}
{% block color %}style="background-color: rgba(29, 29, 27, 0.39);"{% endblock %}
{% block iconName %}conclusion{% endblock %}
{% block contentTitle %}Conclusão{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}
  <!-- Conteudo da pagina inteira -->
  <div class="h-100 d-flex align-items-center justify-content-center">
    <p style="margin-top: 5vw; font-size: 22px;">O Scrum é essa metodologia que visa otimizar a produção em equipe,<br> estabelecendo princípios que prezam pela:
    </p>
    <div style="margin-top:40vw; margin-right: 10vh;position: absolute" >
      <div class="circle-arrow" id="arrow_down" >
      </div>
      
      <div class="container-sm" style="width: 600px; position:relative">
      <p><b><i>TRANSPARÊNCIA</i></b> dos membros envolvidos no projeto, proporcionando essa conexão de cada frente e o progresso de suas responsabilidades</P>
      </div>

      <div class="container-sm" style="width: 600px; position:relative">
      <p><b><i>INSPEÇÃO</i></b> de cada funcionalidade por meio de sucessivas aplicações, análise de erros e correções</P>
      </div>

      <div class="container-sm" style="width: 600px; position:relative">
      <p><b><i>ADAPTABILIDADE</i></b> do projeto, o qual passa por alterações na estratégia de desenvolvimento com o objetivo de realizar a uma entrega de grande valor para o cliente.
      </P>
      </div>

      <div class="container-sm" style="width: 600px; position:relative">
        <p>Além disso, é muito importante entender as responsabilidades de cada cargo e qual o seu impacto para que cada uma das Sprints de produção atendam às expectativas para aquele estágio.
        </P>
       </div>
       
       <div class="container-sm" style="width: 600px; position:relative">
        <p>A seguir, estão separados alguns conteúdos extras como retomada de termos técnicos e importantes, modelos de planilhas e sugestões de ferramentas e sistemas que irão te auxiliar em seu projeto.
        </P>
       </div>

       <div class="btn-next" style="padding-left: 50%; position: absolute;">
        <a href="#" class="btn btn-secondary" id="start">-placeholder-</a>
        </div>
    </div>
  </div>

{% endblock %}