<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Conclusão{% endblock %}
{% block color %}style="background-color: rgba(29, 29, 27, 0.39);"{% endblock %}
{% block iconName %}conclusion{% endblock %}
{% block contentTitle %}Conclusão{% endblock %}
{% block subtitle %}{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main conclusion-main">
  <div class="default-textbox conclusion-textbox">
    <p class="default-para conclusion-para">
      O Scrum é essa metodologia que visa otimizar a produção em equipe, estabelecendo princípios que prezam pela:
    </p>

    <div class="arrow-circular-container">
      <img src="/static/images/circular_arrows.png" style="width: 24vw; height: 23vw" />
    </div>

    <p class="default-para conclusion-para" style="font-size: 1.5vw">
      <b><i>TRANSPARÊNCIA</i></b> dos membros envolvidos no projeto, proporcionando essa conexão de cada frente e o
      progresso de suas responsabilidades
    </p>

    <p class="default-para conclusion-para" style="font-size: 1.5vw">
      <b><i>INSPEÇÃO</i></b> de cada funcionalidade por meio de sucessivas aplicações, análise de erros e correções
    </p>

    <p class="default-para conclusion-para" style="font-size: 1.5vw">
      <b><i>ADAPTABILIDADE</i></b> do projeto, o qual passa por alterações na estratégia de desenvolvimento com o
      objetivo de realizar a uma entrega de grande valor para o cliente.
    </p>

    <p class="default-para conclusion-para">
      Além disso, é muito importante entender as responsabilidades de cada cargo e qual o seu impacto para que cada uma
      das Sprints de produção atendam às expectativas para aquele estágio.
    </p>

    <p class="default-para conclusion-para">
      A seguir, estão separados alguns conteúdos extras como retomada de termos técnicos e importantes, modelos de
      planilhas e sugestões de ferramentas e sistemas que irão te auxiliar em seu projeto.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/development-team{% endblock %}
{% block btnnext %}#{% endblock %}