<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Team - Metodologia | Plataforma Scrum{% endblock %}
{% block color %}style="background-color: rgba(248, 134, 30, 0.65);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Metodologia{% endblock %}
{% block subtitle %}Team{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-team-main">
  <div class="default-textbox met-team-textbox">
    <p class="default-para met-team-para">
      Em todo início de projeto a equipe irá, a partir da visão do produto passada pelo cliente, estabelecer requisitos,
      os quais se referem aos fatores que compõem e promovem uma solução ou satisfazem as necessidades do cliente.
    </p>

    <p class="default-para met-team-para">
      Esse estágio é mais conhecido como Kick Off. A composição desses fatores será o produto final. Os requisitos são
      ordenados em uma lista de prioridades chamada Backlog, a qual iremos discorrer com detalhes mais adiante.
    </p>

    <p class="default-para met-team-para">
      Após estabelecer a importância de cada uma dessas tarefas, inicia-se a produção, dando prioridade às que forem
      qualificadas como imprescindíveis, que não podem faltar no produto.
    </p>

    <p class="default-para met-team-para">
      Os requisitos são divididos em períodos de produção, os quais são conhecidos como Sprints.
    </p>

    <p class="default-para met-team-para">
      O projeto completo será composto por um série de Sprints, tendo a quantia variada de acordo com a complexidade do
      produto.
    </p>

    <div class="met-team-img">
      <img src="../static/images/scrum_steps.png" alt="Etapas Scrum" class="met-team-img" />
    </div>

    <p class="default-para met-team-para">
      Ao final de cada Sprint, será realizada a já citada Retrospectiva de sprint, a qual dá um panorama geral de como a
      equipe se comportou e realizadade de prós e contras da respectiva etapa de desenvolvimento.
    </p>

    <p class="default-para met-team-para">
      Quanto aos membros da equipe, eles serão divididos em cargos de acordo com a função que exercerão no time.
    </p>

    <p class="default-para met-team-para">
      Como no time Scrum não há nenhuma estrutura hierárquica, enfatiza-se que esses papéis se referem às
      responsabilidades que serão designadas para cada um.
    </p>

    <p class="default-para met-team-para" style="font-size: 2rem; font-weight: bold; text-align: center; padding: 20px">
      Os cargos que todo Scrum Team precisa ter são:
    </p>

    <div class="met-sect-memb">
      <div class="met-memb-po met-team-memb">
        <h4 class="met-team-memb-title">PRODUCT OWNER</h4>
        <img src="../static/images/po.png" alt="Prodcut Owner" class="met-img-po met-memb-img" />
      </div>

      <div class="met-memb-sm met-team-memb">
        <h4 class="met-team-memb-title">SCRUM MASTER</h4>
        <img src="../static/images/scrum.png" alt="Scrum Master" class="met-img-sm met-memb-img" />
      </div>

      <div class="met-memb-dev met-team-memb">
        <h4 class="met-team-memb-title">DEVELOPMENT TEAM</h4>
        <img src="../static/images/dev_team.png" alt="Development Team" class="met-img-dev met-memb-img" />
      </div>
    </div>

    <p class="default-para met-team-para" style="font-size: 1.5rem; font-weight: bold; text-align: center">
      A seguir, iremos discorrer com mais detalhes cada uma dessas funções.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/metodologia/autoavaliacao{% endblock %}
{% block btnnext %}/product-owner/introducao{% endblock %}
