{% extends 'NHTemplate.html' %}

{% block title %}O que é Scrum?{% endblock %}
{% block color %}style="background-color: rgba(248, 134, 30, 0.65);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Metodologia{% endblock %}
{% block subtitle %}O que é Scrum?{% endblock %}
{% block content %}
  <!-- Conteudo da pagina inteira -->
  <div class="h-75 w-75 met-oqs-main">
    <div class="met-oqs-textbox">
      <p class="met-oqs-para">
          Foi pensando em obter um meio de aumentar o rendimento e a lucratividade no desenvolvimento que as empresas passaram a adotar as chamadas Metodologias Ágeis, ferramentas que visam oferecer melhores condições de trabalho e resolução de tarefas com uma maior rentabilidade. Dentre elas, encontra-se a metodologia que estaremos abordando neste conteúdo:
      </p>

      <h1 style="font-size: 20vmin; text-align: center;" >SCRUM</h1>

      <p class="met-oqs-para">
          Diferente de outras metodologias, este <a href="tapa buraco pro glossário">framework</a> tem por fundamento o estabelecimento de uma equipe autogerenciável, adaptável a mudanças e que abre mão de toda a estrutura enrijecida das hierarquias profissionais em função de promover uma maior dinamicidade e fluidez para o time com o objetivo de efetuar entregas mais rentáveis ao projeto.
      </p>
      <div style="text-align: center;">
      <img src="../static/images/met_oqs.png" style=" border: 1vmin black solid; width: 80%;">
      </div>
      <p class="met-oqs-para">
          O nome Scrum tem origem em uma jogada do esporte rugby, na qual os jogadores de uma equipe se juntam e vão rompendo os obstáculos do time adversário até que possam alcançar a linha de pontuação, tudo isso realizado de forma estratégica e colaborativa. É essa a essência que o Scrum traz para o ambiente de trabalho.
      </p>

    </div>
  </div>
{% endblock %}