{% extends 'NHTemplate.html' %}

{% block title %}Introdução{% endblock %}
{% block color %}style="background-color: rgba(248, 134, 30, 0.65);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Metodologia{% endblock %}
{% block subtitle %}Introdução{% endblock %}
{% block content %}
<!-- Conteudo da pagina inteira -->
<div class="h-75 w-75 met-int-main">
  <div class="met-oqs-textbox">
    <p class="met-int-para">No acelerado e inovador mercado atual, para que uma empresa preserve-se moderna, ela precisa
      se adequar às mudanças que a tecnologia vem implementando e encontrar, em meio a esse cenário frenético,
      oportunidades de realizar um trabalho relevante.</p>

    <p class="met-int-para">Tendo essa percepção em vista, é indispensável para uma instituição de sucesso estabelecer
      métodos competentes que irão nortear as ações que serão tomadas em seu ambiente de trabalho.

    <div class="met-int-image-block">
      <img src="../static/images/met_int.gif" class="met-int-border">

      <p class="met-int-para">No passado, a principal metodologia adotada por várias instituições ficou popularmente
        conhecida como “Linha de Produção” ou “Método Cascata”.
      </p>

    </div>

    <p class="met-int-para">Esse sistema tradicional de produção foi herdado do desenvolvimento fordista durante a
      Segunda Revolução Industrial e tinha como princípio o estabelecimento de tarefas específicas e repetitivas,
      designadas a certos indivíduos, e que seriam aos poucos somadas até que resultassem no produto final esperado.</p>

    <p class="met-int-para">Esse procedimento se perpetuou por certo tempo, porém foi mostrando-se ineficiente e
      revelando certas inconstâncias que <strong> retardavam </strong> o processo, principalmente durante a execução de
      tarefas mais
      complexas.</p>

  </div>

</div>
{% endblock %}
{%block btnback%}/{%endblock%}
{%block btnnext %}/metodologia/oqueescrum{%endblock%}