<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Introdução - Product Owner | Plataforma Scrum{% endblock %}
{% block color %}style="background-color: rgba(47, 177, 250, 0.65);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Product Owner{% endblock %}
{% block subtitle %}Priorizando o valor do produto{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main po-int-main">
  <div class="default-textbox po-int-textbox">
    <p class="default-para po-int-para">
      O Proprietário do Produto, mais conhecido como P.O., é o responsável pelo produto em sua totalidade e deverá
      <strong>esclarecer para seu grupo quais são as expectativas e a visão geral que a cliente tem para o projeto</strong> e que deverão
      ser supridas durante o período de desenvolvimento para que o produto atinja os objetivos finais de aprovação.
    </p>
    
    <p class="default-para po-int-para" style="color: red;">
      Sua atuação é de um <strong>interlocutor entre os membros de sua equipe e o cliente em questão.</strong> Ele será o responsável por
      captar os requisitos que forem levantados pelo contratante, levando em consideração suas necessidades e desejos, e
      encaminhá-los de forma clara e concisa ao grupo.
    </p>

    <p class="default-para po-int-para">
      Em seguida, realizarão juntos a análise técnica daquilo que foi
      levantado e definirão a estratégia que será adotada e <strong>quais medidas tomarão para desempenhar aquilo que foi
      requerido.</strong>
    </p>

    <div class="default-image-block po-int-image-block">
      <img src="../static/images/po-int.jpg" alt="po_int_illustration" class="po-int-image" />
      <p class="default-para po-int-para">
        É muito importante salientar que mesmo que a equipe faça a análise conjunta de cada uma das particularidades do
        processo e decida priorizar certos requisitos em detrimento de outros, <strong>sempre será o cliente a dar a palavra
        final quanto ao que é essencial e o que não é para o projeto</strong>. Assim, caberá ao P.O. representar o seu
        posicionamento dentro do ambiente de equipe, pois é ele o responsável por <strong>dominar aquilo que possui mais valor
        para o contratante</strong>. Portanto, uma característica indispensável para um bom P.O. é possuir o <strong>conhecimento
        aprofundado de cada uma das facetas do produto/serviço com o qual a equipe lidará.</strong>
      </p>
    </div>

    <p class="default-para po-int-para">
      Outras competências necessárias para desempenhar essa função são <strong>boa comunicação, habilidades interpessoais,
      facilidade de expressar, tanto para o cliente quanto para a equipe, as ideias e requisitos propostos.</strong>
    </p>
    <p class="default-para po-int-para">
      A principal ferramenta com a qual o P.O. irá interagir durante todo o período de desenvolvimento do projeto é o
      <strong>Backlog do Produto.</strong>
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/metodologia/team{% endblock %}
{% block btnnext %}/product-owner/backlog{% endblock %}
