{% extends 'NHTemplate.html' %}

{% block title %}Valor do Produto{% endblock %}
{% block color %}style="background-color: rgba(47, 177, 250, 0.65);"{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Product Owner{% endblock %}
{% block subtitle %}Priorizando o valor do produto{% endblock %}
{% block content %}
<!-- Conteudo da pagina inteira -->
<div class="h-75 w-75 po-vdp-main">
    <div class="po-vdp-textbox">
        <p class="po-vdp-para">
            O Proprietário do Produto, mais conhecido como P.O., é o responsável pelo produto em sua totalidade e deverá
            esclarecer para seu grupo quais são as expectativas e a visão geral que a cliente tem para o projeto e que
            deverão ser supridas durante o período de desenvolvimento para que o produto atinja os objetivos finais de
            aprovação.
        </p>
        <p class="po-vdp-para">
            Sua atuação é de um interlocutor entre os membros de sua equipe e o cliente em questão. Ele será o
            responsável
            por captar os requisitos que forem levantados pelo contratante, levando em consideração suas necessidades e
            desejos, e encaminhá-los de forma clara e concisa ao grupo. Em seguida, realizarão juntos a análise técnica
            daquilo que foi levantado e definirão a estratégia que será adotada e quais medidas tomarão para desempenhar
            aquilo que foi requerido.
        </p>

        <div class="po-vdp-image-block">
            <img src="../static/images/po-vdp.jpg" alt="po_vdp_illustration" class="po-vdp-image">
            <p class="po-vdp-para">
                É muito importante salientar que mesmo que a equipe faça a análise conjunta de cada uma das
                particularidades
                do
                processo e decida priorizar certos requisitos em detrimento de outros, sempre será o cliente a dar a
                palavra
                final quanto ao que é essencial e o que não é para o projeto. Assim, caberá ao P.O. representar o seu
                posicionamento dentro do ambiente de equipe, pois é ele o responsável por dominar aquilo que possui mais
                valor
                para o contratante.
                Portanto, uma característica indispensável para um bom P.O. é possuir o conhecimento aprofundado de cada
                uma
                das
                facetas do produto/serviço com o qual a equipe lidará.
            </p>
        </div>

        <p class="po-vdp-para">
            Outras competências necessárias para desempenhar essa função são boa comunicação, habilidades interpessoais,
            facilidade de expressar, tanto para o cliente quanto para a equipe, as ideias e requisitos propostos.
        </p>
        <p class="po-vdp-para">
            A principal ferramenta com a qual o P.O. irá interagir durante todo o período de desenvolvimento do projeto
            é o
            BACKLOG DO PRODUTO.
        </p>
    </div>


</div>
{% endblock %}
{%block btnback%}/metodologia/team{%endblock%}
{%block btnnext %}/product-owner/backlog{%endblock%}