{% extends 'NHTemplate.html' %}

{% block title %}Burndown e Daily Scrum - Scrum Master | Plataforma Scrum{% endblock %}
{% block color %}style="background-color: rgba(219,	52,	52, 0.65);"{% endblock %}
{% block iconName %}scrum{% endblock %}
{% block contentTitle %}Scrum Master{% endblock %}
{% block subtitle %}Burndown e Daily Scrum{% endblock %}
{% block content %}
  <!-- Conteudo da pagina inteira -->
  <div class="h-75 w-75 sm-burn-main">
    <div class="sm-burn-textbox">
        <p class="sm-burn-para">
            A ferramenta Burndown tem por objetivo fundamental gerenciar a organização interna da equipe. 
        </p>

        <p class="sm-burn-para">
            Diferentemente do Backlog, que possui o atributo de conexão externa com o cliente, o qual também interage e responde aos requerimentos da planilha, o Burndown é de uso exclusivo dos indivíduos inerentes ao grupo.
        </p>

        <p class="sm-burn-para">
            Portanto, nele a equipe poderá gerenciar tanto as tarefas que foram delegadas a partir do estabelecimento dos requisitos, mas também afazeres do desenvolvimento interno do grupo, os quais o cliente não precisa estar inteirado, como é o caso de pesquisas de tecnologias e funcionalidades de softwares, atividades de estudo, tarefas de revisão e testagem.
        </p>

        <div class="sm-burn-img-box">
            <img src="../static/images/burndown_chart.png" alt="Gráfico Burndown" class="sm-burn-img" style="padding-left: 13%;">
        </div>

        <p class="sm-burn-para">
            Uma particularidade dessa planilha é a sua propriedade visual, capaz de trazer uma perspectiva  mais aprofundada da relação andamento do projeto e produtividade do grupo. Através do Burndown Chart (Gráfico de Burndown), a equipe dimensiona se está atrasada, adiantada ou em dia em relação à estimativa de entregas ideal.
        </p>

        <p class="sm-burn-para">
            Já o Daily Scrum (Scrum Diário) é um método estabelecido pelo Scrum Master no qual a equipe realiza diariamente um momento de prestação de contas em que os integrantes da equipe atualizam os demais quanto ao que estão desenvolvendo e os empecilhos que estão enfrentando, respondendo às seguintes perguntas:
        </p>

        <ul class="sm-burn-para">
            <li>
                <h3 class="sm-burn-para">
                    O QUE FOI FEITO NO DIA ANTERIOR?
                </h3>
            </li>

            <li>
                <h3 class="sm-burn-para">
                    O QUE SERÁ FEITO HOJE?
                </h3>
            </li>

            <li>
                <h3 class="sm-burn-para">
                    QUAIS OS EMPECILHOS ENFRENTADOS?
                </h3>
            </li>
        </ul>
    </div>
    
  </div>
{% endblock %}
{%block btnback%}/scrum-master/introducao{%endblock%}
{%block btnnext %}/development-team{%endblock%}