<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Team - Methodology | Scrum Platform{% endblock %}
{% block color %}metodologia{% endblock %}
{% block iconName %}method{% endblock %}
{% block contentTitle %}Methodology{% endblock %}
{% block subtitle %}Team{% endblock %}
{% block content %}

<div class="h-75 w-75 default-main met-team-main">
  <div class="default-textbox met-team-textbox">
    <p class="default-para met-team-para">
      At the start of every project, the team will, based on the client's vision of the product, <strong>establish requirements</strong>, which refer to the factors that <strong>promote a solution or satisfy the client's needs.</strong> 
    </p>
    <!--Conteúdo Extra--> 
    <p class="default-para met-team-para">
      This stage is better known as <a href="/en/glossario#gloss-kickoff" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Kick Off">Kick Off</a>. The composition of these factors will be the final product. The requirements are ordered in a list of priorities called the <a href="/en/glossario#gloss-backlog" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Backlog">Backlog</a>, which we will discuss in more detail later.
    </p>
    
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        THE IMPORTANCE OF THE KICK OFF
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body column-770 met-team-card-body">
        <div class="overlay-text">
          <h5>PREPARING FOR THE START</h5>
          <p>
            The Kick Off can be associated with the preparations made by a runner before a race. Analyzing the route to be run and studying the best strategy to adopt are measures that prepare the athlete and increase their chances of achieving good results.
          </p>
  
          <p>
            The same goes for the Kick Off. The team will study the objectives to be achieved and draw up strategies so that they can structure a form of development that is organized and aligned with the client's expectations for when the start is given.
        </div>
        <div class="met-team-overlay-image-box">
          <img src="../../static/images/runners_train.gif" class="met-team-overlay-image" alt="Gif Corredores">
        </div>
      </div>
    </div>

    <p class="default-para met-team-para">
      After establishing the importance of each of these tasks, production begins, <strong>giving priority to those that are considered essential</strong>, that cannot be missing from the product, and so on.
    </p>

    <p class="default-para met-team-para">
      The requirements are divided into production periods, known as <a href="/en/glossario#gloss-sprint" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Sprint">Sprints.</a>
    </p>
    
    <p class="default-para met-team-para">
      The complete project will be made up of a series of Sprints, the amount of which varies according to the complexity of the product.
    </p>

    <div class="met-team-img">
      <img src="../../static/images/scrum_steps.png" alt="Etapas Scrum" class="met-team-img" />
    </div>

    <p class="default-para met-team-para">
      At the start of each Sprint, the members will get together to align the tasks and strategy that will be adopted. This stage is known as <a href="/en/glossario#gloss-plan" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Sprint Planning">Sprint Planning.</a>
    </p>

    <p class="default-para met-team-para">
      At the end, the aforementioned Sprint Retrospective will be held, which <strong>provides an overview of how the team performed and analyzes the pros and cons</strong> of the development stage in question
    </p>
    
    <p class="default-para met-team-para">
      As for the team members, they will be divided into positions <strong>according to their role in the team.</strong>
    </p>

    <p class="default-para met-team-para">
      As there is no hierarchical structure in the Scrum team, it is emphasized that these roles refer to the <strong>responsibilities</strong> that will be assigned to each one.
    </p>

    <p class="default-para met-team-para" style="font-size: 2rem; font-weight: bold; text-align: center; padding: 20px">
      The positions that every Scrum Team needs to have are: 
    </p>

    <div class="met-sect-memb">
      <div class="met-memb-po met-team-memb">
        <h4 class="met-team-memb-title">PRODUCT OWNER</h4>
        <img src="../../static/images/po.png" alt="Prodcut Owner" class="met-img-po met-memb-img" />
      </div>

      <div class="met-memb-sm met-team-memb">
        <h4 class="met-team-memb-title">SCRUM MASTER</h4>
        <img src="../../static/images/scrum.png" alt="Scrum Master" class="met-img-sm met-memb-img" />
      </div>

      <div class="met-memb-dev met-team-memb">
        <h4 class="met-team-memb-title">DEVELOPMENT TEAM</h4>
        <img src="../../static/images/dev_team.png" alt="Development Team" class="met-img-dev met-memb-img" />
      </div>
    </div>

    <p class="default-para met-team-para" style="font-size: 1.5rem; font-weight: bold; text-align: center">
      We'll go into each of these functions in more detail below.
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/metodologia/autoavaliacao{% endblock %}
{% block btnnext %}/en/product-owner/introducao{% endblock %}
