<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Vision- Methodolgy | Scrum Platform{% endblock %} 
{% block color %}metodologia{% endblock %}
{% block iconName %}method{% endblock%} 
{% block contentTitle %}Methodology{% endblock %}
{% block subtitle %}Vision{%endblock %} 
{% block content %}

<div class="h-75 w-75 default-main met-vis-main">
  <div class="default-textbox met-vis-textbox">
    <p class="default-para met-vis-para">
      In a Scrum team, everyone is aware of the <strong>product vision</strong>, the <strong>objectives to be achieved</strong> and the <strong>requirements that have been determined</strong> to be executed. 
    </p>

    <p class="default-para met-vis-para">
      <strong>There is no member who has any level of leadership or authority to impose instructions on the others</strong> (with the exception of cases where there is an external person responsible for coordinating the progress of the project, who is not a member of the team).
    </p>

    <p class="default-para met-vis-para">
      Thus, it is up to the members to manage for themselves the ways in which they will organize themselves, what each individual's responsibilities will be and the metrics for evaluating performance.
    </p>

    <p class="default-para met-vis-para">
      The application of this methodology is based on the <strong>Agile Manifesto and its 4 main values </strong>:
    </p>
  </div>

  <div class="met-vis-listbox">
    <ul class="met-vis-list">
      <li class="met-vis-list-item">Individuals and interactions over processes and tools</li>
      <li class="met-vis-list-item">Working software over comprehensive documentation</li>
      <li class="met-vis-list-item">Customer collaboration over contract negotiation</li>
      <li class="met-vis-list-item">Responding to change over following a plan</li>
    </ul>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/metodologia/oqueescrum{% endblock %}
{% block btnnext %}/en/metodologia/pilares{% endblock %}
