<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Pillars - Methodolgy | Scrum Platform{% endblock %} 
{% block color %}metodologia{% endblock %}
{% block iconName %}method{% endblock%} 
{% block contentTitle %}Methodology{% endblock %}
{% block subtitle %}Pillars{%endblock %} 
{% block content %}

<div class="h-75 w-75 default-main met-pil-main">
  <div class="default-textbox met-pil-textbox">
    <p class="default-para met-pil-para">
      At all times, Scrum prioritizes the delivery of elements which, even if they have not reached the expected projection for the final product,<strong> already have functionality and can be applied</strong>.
    </p>

    <p class="default-para met-pil-para">
      In order to achieve this goal, the so-called <a href="/en/glossario#gloss-artef" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: Scrum Artifacts">Scrum Artifacts</a> are established, which are fundamental elements in project management and will be detailed one by one throughout this content.
    </p>

    <!-- Extra Content -->
    <p class="default-para met-pil-para">
      This whole methodology is based on the <a href="/en/glossario#gloss-mvp" data-bs-toggle="tooltip" data-bs-placement="bottom" class="tooltip-a-tag" title="Glossary: MVP">MVP principle, or Minimum Viable Product</a>. Its aim is to <strong> promote successive incremental deliveries that add value to the client</strong>, and in some cases are even capable of generating a profitable return on investment in the early stages of the project.
    </p>
    

   <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary met-pil-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
    How to define the MVP?
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">How to define the MVP?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Production based on the MVP will always aim to make gradual deliveries that meet customer demand. As in the example below.
          </p> 
          <img src="../../static/images/mvp-exemplo.png" alt="Valor progressivo produto" class="met-pil-image-modal">
          <p>
            A customer who wants a car to get around won't be completely satisfied when they receive a skateboard on the first delivery, but they will already have a usable item in their hands that adds value. The opposite happens in the other case, where even after three deliveries, the customer still can't get any use out of what they've received so far.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Seguir</button>
        </div>
      </div>
    </div>
  </div>

    <p class="default-para met-pil-para">
      What's more, because of this constant validation with the client, if any of their expectations are not met or there is any kind of failure in the execution, <strong>it can be remedied in its early stages.</strong>
    </p>

    <p class="default-para met-pil-para">
      Finally, another crucial feature of Scrum is that there are <strong>no interruptions in production to wait for another task to be developed</strong>. Tasks are delegated, but they are independent of each other
    </p>.

    <p class="default-para met-pil-para" style="text-align: center">
      This whole theory is based on the following pillars:
    </p>
  </div>

  <div class="met-pil-three-sections">
    <div class="met-pil-section">
      <img src="../../static/images/transparencia.png" alt="Transparência" class="met-pil-img" />

      <div class="met-pil-sect-textbox">
        <h2 class="met-pil-sect-title">Transparency</h2>
        <p class="met-pil-sect-text">
          The members of the group need to be <strong>transparent at all times about the progress of their task</strong>, their needs and their perceptions. This team integration is essential, as no one can know what the other is going through unless they speak up and ask for help.
        </p>
      </div>
    </div>

    <div class="met-pil-section">
      <img src="../../static/images/inspecao.png" alt="Inspeção" class="met-pil-img" />

      <div class="met-pil-sect-textbox">
        <h2 class="met-pil-sect-title">Inspection</h2>
        <p class="met-pil-sect-text">
         The process is made up of <strong>iteration, trial and error</strong>. It is therefore necessary for the group to frequently assess whether the decisions and planning chosen are delivering the expected result.
        </p>
      </div>
    </div>

    <div class="met-pil-section">
      <img src="../../static/images/adaptacao.png" alt="Adaptação" class="met-pil-img" />

      <div class="met-pil-sect-textbox">
        <h2 class="met-pil-sect-title">Adaptation</h2>
        <p class="met-pil-sect-text">
         Scrum development is full of changes. Naturally, some planned elements will lose the value they had when they were first conceived, making a series of adaptations necessary. Remember,  <strong>this method encourages dynamism, not rigidity.</strong>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/metodologia/visao{% endblock %}
{% block btnnext %}/en/metodologia/autoavaliacao{% endblock %}
