<!-- prettier-ignore -->
{% extends 'template.html' %}

{% block title %}Avaliação | Plataforma Scrum{% endblock %}
{% block color %}outros{% endblock %}
{% block iconName %}conclusion{% endblock %}
{% block contentTitle %}Avaliação{% endblock %}
{% block subtitle %}{% endblock %}z
{% block content %}

<div class="h-75 w-75 default-main form-main">
    <div id="form-container"></div> 
    <input type="submit" id="submit-btn">
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/development-team{% endblock %}
{% block btnnext %}/tutorial{% endblock %}