/*Import for the fonts for the site */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@100&family=Source+Code+Pro:wght@300&display=swap');

/* Font family for the dropdown items */
.navbar-custom,.navbar-custom .dropdown-item {
    font-family: 'Inter', sans-serif;
}

/* Distance between elements of the navbar */
.navbar-nav > li {
    margin-left: 1vw;
    margin-right: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
/* Change this to change the background color of the dropdown buttons */
.navbar-nav > li > .dropdown-menu{ background-color:none; }

/* Change this to change font color of the dropdown buttons */
.navbar-nav > li > .dropdown-item{ color:none;}

/* Change this to change hover color on nav elements */
.navbar-nav li > a:hover, a:focus, a:active {color:none;}

/* Changes background of dropdown elements */
.dropdown-item:focus, .dropdown-item:hover {
    background-color:none!important;
    color:none !important;}

/* Changes background of dropdown */
ul.dropdown-menu {background-color:none;}


