<!-- prettier-ignore -->
{% extends 'template_en.html' %}

{% block title %}Development Team | Scrum Platform{% endblock %} 
{% block color %}dev-team{% endblock %} 
{% block iconName %}dev_team{% endblock%} 
{% block contentTitle %}Development Team{% endblock %}
{% block subtitle %}Applied technical knowledge{%endblock %} 
{% block content %}

<div class="h-75 w-75 default-main dev-main">
  <div class="default-textbox dev-textbox">
    <p class="default-para dev-para">
      Finally, the last position to be discussed in the Scrum methodology is the Development Team, also known as the Dev Team.
    </p>

    <p class="default-para dev-para">
      This role includes all the members of the group who participate in the project on the <strong>technical development front.</strong> These are also popularly referred to as Devs.
    </p>

    <div class="default-image-block dev-image-block">
      <img src="../static/images/dev_team_ilustration.jpeg" alt="dev_team_illustration" class="dev-image" />
      <p class="default-para dev-para">
        Their responsibility is to <strong>identify, through their specific knowledge, ways of executing the requirements</strong>, as well as having a repertoire that adds a lot when it comes to developing functionalities that will improve the user experience.
      </p>
    </div>

    <p class="default-para dev-para">
      Some of the important skills for members of the Dev Team are <strong>technical knowledge of the technologies, the ability to cooperate, organization with regard to deadlines and transparency regarding the progress of delegated tasks.</strong>
    </p>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock %}
{% block btnback %}/en/scrum-master/burndown{% endblock %}
{% block btnnext %}/en/conclusao{% endblock %}